

<!-- CLOSE PREDICTION MODAL -->

  <div class="modal" id="detail-close-prediction-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="constrainer">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
            <div class="detail-reply-modal-img pull-left">
              <%= link_to image_tag(current_user.image), "/users/#{current_user.username}/" %>
            </div>
            <div class="detail-reply-modal-user-time-col pull-left">
              <p class="detail-reply-modal-username"><%= link_to current_user.username, "/users/#{current_user.username}/", class: "detail-reply-modal-txt-username" %>
              </p>
              <p class="detail-reply-modal-time">
              <i class="fa fa-clock-o">&nbsp;Right now</i>  
              </p>
            </div>

            <%= form_for(Predictionend.new, remote:true) do |f| %>
            <div class="close-prediction-form-modal-div" id="tabs-2">
              <div class="close-prediction-modal-container clearfix">
                <div class="close-prediction-modal-data">
                  <p class="close-prediction-modal-points"><%= @prediction.score %> Points</p>
                  <% 
                    tz = ActiveSupport::TimeZone.new('America/New_York') #set the time zone to EST.
                    p_time = @prediction.prediction_end_time
                    num = tz.parse(p_time.to_s)
                  %>

                  <p class="close-prediction-modal-date">CLOSING ON</p>
                </div>
              </div>
              <div class="modal-comment-field clearfix">
                <%= text_area_tag 'content', nil, placeholder: "Make a closing comment", class: "close-comment-modal-textarea" %>
              </div>
              <%= hidden_field_tag :input_page, @prediction_end_input_page %>
              <%= hidden_field_tag :prediction_id, @prediction.id %>
              <div class="modal-button-counter clearfix">
                <%= f.submit "CLOSE NOW", class: "btn pull-right" %>
                <div class="pull-right" id="openCharNum"></div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>