
  <div class = "stock-page-prediction-box" style="font-size:12px;">
    <div class = "row" style = "margin-left: 20px;">

      <p>score: <%= prediction.score %></p>
      <p>start time: <%= prediction.start_time.in_time_zone("EST") %></p>
      <p>end time: <%= prediction.prediction_end_time.in_time_zone("EST") %></p>
      <p>start price: $<%= prediction.start_price %></p>
      <p>end price: $<%= prediction.prediction_end_price %></p>
      <p><%= prediction.distance_of_time_in_words(Time.zone.now, prediction.prediction_end_time) %> remaining</p>
      <p>
      
      <%= form_for(Predictionend.new, remote:true) do |f| %>
        <%= hidden_field_tag :input_page, @prediction_end_input_page %>
        <%= hidden_field_tag :prediction_id, prediction.id %>
        <%= f.submit "Cancel Prediction", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>

