
  <div class = "prediction-post-comment">
    <div class = "row" style = "margin-left: 20px;">

      <p>score: <%= prediction.score %></p>
      <p>start time: <%= prediction.start_time.in_time_zone("EST") %></p>
      <p>end time: <%= prediction.prediction_end_time.in_time_zone("EST") %></p>
      <p>start price: $<%= prediction.start_price %></p>
      <p>end price: $<%= prediction.prediction_end_price %></p>
      <p><%= prediction.distance_of_time_in_words(Time.zone.now, prediction.prediction_end_time) %> remaining</p>
      <p><%= link_to "Cancel Prediction", "/predictions/#{prediction.id}", method: :delete, data: { confirm: "Are you sure you want to cancel your #{prediction.stock.ticker_symbol} prediction?" } %></p>

    </div>
  </div>

