<%= include_gon(:init => true) %>
<%= javascript_include_tag "prediction-graph.js" %>

<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> </title>
<% end %>


<section class="stockpage-graph-full prediction-detail-blue-blur">

  <div class="constrainer">
    
    <!-- title of the stock graph -->

    <div id = "title-replace-box">
      <%= render partial: "shared/graph/prediction_title", locals: {prediction: @prediction} %>
    </div>

    <div class="prediction-detail-comment">
      <% unless @prediction.content.nil? %>
        <% unless @prediction.predictionend.nil? %>
          <% unless @prediction.predictionend.content.nil? %>
            <div class="prediction-detail-tweet">
              <div class="prediction-detail-tweet-clear">
                <p><%= @prediction.predictionend.content %></p>
              </div>
              <div class="prediction-detail-tweet-clear">
                <p><%= @prediction.content %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="prediction-detail-tweet">
            <div class="prediction-detail-tweet-clear">
              <p><%= @prediction.content %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <div class="col-xs-12 col-sm-9 stockpage-graph-col">

      <div class="graph-background-div">
        <p class="tkr"><%= @stock.ticker_symbol %></p>
      </div>
      
      <div id="prediction-div" class = "graph-div"></div>

      <div class="graph-full-timeframes">
        <% @graph_buttons.each do |button| %>
          <% if button == "3M" || button == "6M" %>
            <span class="add-timeframes">
              <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
                <a><%= button %></a>
              </div>
            </span>
          <% else %>
            <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
              <a><%= button %></a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-3 detail-graph-stats-mobile">

      <div id ="graph-replace-box">
        <%= render partial: "shared/graph/details_daily_prediction.html.erb", locals: {prediction:@prediction, prediction_custom: @prediction_custom} %>
      </div>

    </div>


    <div class="col-sm-3 details-graph-stats-col">

      <div id ="graph-replace-box">
        <%= render partial: "shared/graph/details_prediction_aside.html.erb", locals: {prediction:@prediction, prediction_custom: @prediction_custom} %>
      </div>

    </div>

</section>


<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">

    <!-- DESKTOP TOOLBAR PARTIALS -->

    <% if @prediction.user == @current_user %>
      <%= render partial: 'details_desktop_toolbar_mine'%>
    <% else %>
      <%= render partial: 'details_desktop_toolbar_not_mine'%>
    <% end %>

    <div class="stream">

      <!-- Load placeholder when no comments on prediction -->

      <div class="detail-reply-placeholder">
        <i class="fa fa-comments-o"></i>
        <p class="detail-reply-placeholder-txt">
          Be the first to comment!
        </p>
      </div>

      <!-- load partials for each reply on mobile -->
      <% @prediction.replies.reorder('created_at asc').each do |reply| %>
        <%= render partial: "shared/graph/detail_reply_mobile", locals: {reply: reply}  %>
      <% end %>
          
    </div>

  </div>

  <div class="col-sm-3 stockpage-sidebar">

    <%= render partial: 'shared/top_predictions_box', locals: {stock: @stock} %>
       
  </div>

</div>

  <!-- MOBILE TOOLBAR PARTIALS -->

  <% if @prediction.user == @current_user %>
    <%= render partial: 'details_mobile_toolbar_mine'%>
  <% else %>
    <%= render partial: 'details_mobile_toolbar_not_mine'%>
  <% end %>

