<%= javascript_include_tag "predictions.coffee.js" %>
<%= include_gon(:init => true) %>

<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>

<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">

    <div class="stockpage-graph-module black-gradient clearfix">
      <div class="pull-left stockpage-ticker">
        <p><%= @stock.ticker_symbol %> - <%= @stock.stock %></p>
      </div>

      <div class="graph-point-hover">
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">+3</p>
          <p class="graph-hover-title">POINTS</p>
        </div>  
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">$170</p>
          <p class="graph-hover-title">TARGET</p>
        </div>
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">1D</p>
          <p class="graph-hover-title">TIME LEFT</p>
        </div>
        <div class="pull-right graph-hover-stat-item">
          <%= image_tag "del.jpg" %>
          <p class="graph-hover-title">delmnstr12</p>
        </div>
      </div>

      <div class="stockpage-graph">

        <div id="prediction-div"></div>
      </div>

      <div class="timeframes-mobile">
        <% @graph_buttons.each do |button| %>
          <div class="timeframes-item pull-right" id="button" data-button-type=<%= button %>>
            <a><%= button %></a>
          </div>
        <% end %>
      </div>

      <div class = "graph-buttons" style="width:450px">
        
      </div>

      <div class="stockpage-mobile-predict-button-div">
        <a class="btn">PREDICT APPL</a>
      </div>

      <div class="open-prediction">
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">1 DAY</p>
          <p class="open-prediction-title">TIME LEFT</p>
        </div>
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">$170</p>
          <p class="open-prediction-title">TARGET PRICE</p>
        </div>
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">+3</p>
          <p class="open-prediction-title">POINTS</p>
        </div>
      </div>    
      <div class="close-prediction-button-mobile">
        <a class="btn">CLOSE PREDICTION</a>
      </div>


      <div class="stats-header">
        <p>Stats</p>
      </div>
      <div class="stats-content">
        <div class="stats-content-col-left col-xs-6">
          <div class="stats-content-item">
            <span class="stats-content-label">PRICE</span><span class="pull-right">$99.76</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">MKTCAP</span><span class="pull-right">624.4B</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">P/E RATIO</span><span class="pull-right">17</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">AVG VOL</span><span class="pull-right">50.9M</span>
          </div>
        </div>
        <div class="stats-content-col-right col-xs-6">
          <div class="stats-content-item">
            <span class="stats-content-label">CHANGE</span><span class="pull-right">+2.6%</span>  
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">52 WK HIGH</span><span class="pull-right">102.3</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">52 WK LOW</span><span class="pull-right">87.5</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">VOLUME</span><span class="pull-right">55.3</span>
          </div>
        </div>
      </div>
    </div>


    <div class = "stream" >
      <div class="prediction-item" id="stream_Prediction_<%= @prediction.id %>">
        <div class="stream-item-comments">
    
          <!-- load this only if there are replies -->
          <div class="stream-comment-header">
            <p><%= @prediction.replies.count %> Replies</p>
          </div>

          <!-- load partials for each reply -->
          <% @prediction.replies.each do |reply| %>
            <%= render partial: "streams/stream_reply", locals: {reply: reply}  %>
          <% end %>
          
          <!-- load this reply input everytime -->
          <%= render partial: "streams/stream_reply_form", locals: {repliable_type:"Prediction", repliable_id:@prediction.id}  %>
        </div> 
      </div>
    </div>
  

  </div>
  <div class="col-sm-3 stockpage-sidebar">

    <%= render partial: 'shared/prediction_open', locals: {prediction: @prediction} %>
   

    <div class="stockpage-side-analysts-header black-gradient">
      <div class="user-sidebar-similar-header-txt">
        Top analysts for APPL
      </div>
    </div>
    <div class="stockpage-side-analysts-box">
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "del.jpg" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          delmnstr12
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          400
        </div>
      </a>
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "dyl.png" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          dyl$hmil
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          60k
        </div>
      </a>
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "elmer.png" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          fuddmnstr7
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          163
        </div>
      </a>
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "sean.png" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          seanjuan
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          90k
        </div>
      </a>
    </div>
    
  </div>

</div>

