<%= javascript_include_tag "predictions.coffee.js" %>
<%= include_gon(:init => true) %>

<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>


<section class="stockpage-graph-full prediction-detail-blue-blur">
  <div class="constrainer">
    
    <!-- title of the stock graph -->
    <div id = "title-replace-box">
      <%= render partial: "shared/graph/prediction_title", locals: {prediction: @prediction} %>
    </div>
    
    <div class="col-xs-12 col-sm-9 stockpage-graph-col">

      <div class="graph-background-div">
        <p class="tkr"><%= @stock.ticker_symbol %></p>
      </div>
      
      <div id="prediction-div" class = "graph-div"></div>

      <div class="graph-full-timeframes">
        <% @graph_buttons.each do |button| %>
          <% if button == "3M" || button == "6M" %>
            <span class="add-timeframes">
              <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
                <a><%= button %></a>
              </div>
            </span>
          <% else %>
            <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
              <a><%= button %></a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-3 stockpage-graph-stats-col">

      <div id ="graph-replace-box">
        <%= render partial: "shared/graph/daily_prediction.html.erb", locals: {prediction:@prediction} %>
      </div>
    </div>

    <div class="col-sm-12 col-md-9 stockpage-mobile-buttoms-col">


    </div>

  </div>
</section>


<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">




    <div class = "stream" >

      <div class="prediction-detail-item" id="stream_Prediction_<%= @prediction.id %>">

        <div class="prediction-detail-replies">

          <div class="prediction-detail-tweet">x
            <p>Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
          </div>

          <div class="prediction-detail-tweet-closed">
            <p class="prediction-detail-tweet-new">Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>

            <p class="prediction-closed-original-tweet">ORIGINAL COMMENT: Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
          </div>
    
          <!-- load this only if there are replies -->
          <div class="detail-stream-comment-header">
            <p><%= @prediction.replies.count %> Replies</p>
          </div>

          <!-- load partials for each reply -->
          <% @prediction.replies.each do |reply| %>
            <%= render partial: "streams/stream_reply", locals: {reply: reply}  %>
          <% end %>
          
          <!-- load this reply input everytime -->
          <%= render partial: "streams/stream_reply_form", locals: {repliable_type:"Prediction", repliable_id:@prediction.id}  %>
        </div> 
      </div>
    </div>
  

  </div>
  <div class="col-sm-3 stockpage-sidebar">

    <%= render partial: 'shared/prediction_open', locals: {prediction: @prediction} %>
   
    <%= render partial: 'stocks/ranking', locals: {stock: @stock} %>
    
  </div>

</div>

