

<div class="top-analysts-box">
  <div class="top-analysts-header">
    <div class="top-analysts-header-txt">
      Top analysts for <%= stock.ticker_symbol %>
    </div>
  </div>
  <% stock.top_analysts(5).each do |analyst| %>
    <%= link_to "/users/#{analyst.username}/", class: "top-analysts-anchor clearfix" do %>
      <div class="top-analysts-img pull-left">
        <%= image_tag analyst.image %>
      </div>
      <div class="top-analysts-label pull-left">
        <%= analyst.username %>
      </div>
      <div class="top-analysts-number pull-right">
        <%= analyst.total_score(stock).round(0) %> pts
      </div>
    <% end %>
  <% end %>
</div>