<h1>Stock Page</h1>
<br />
<br />

<h3> Completed Stock Inputs </h3>
<table>
	<% @stock_array.each_with_index do |stock, index| %>
		<% if stock[:failed] == false %>
			<tr><td><%= index %></td><td> <%= stock[:ticker_symbol] %></td><td><%= stock[:stock] %></td></tr>
		<% end
	end %>
</table>

<h3> Failed Stock Inputs </h3>
<table>
	<% @stock_array.each_with_index do |stock, index| %>
		<% if stock[:failed] == true %>
			<tr><td><%= index %></td><td> <%= stock[:ticker_symbol] %></td><td><%= stock[:stock] %></td></tr>
		<% end
	end %>
</table>

