

<%= javascript_include_tag "stocks.coffee.js" %>
<%= include_gon(:init => true) %>



<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>

<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">

    <div class="stockpage-graph-module black-gradient clearfix">
      <div class="pull-left stockpage-ticker">
        <p><%= @stock.ticker_symbol %> - <%= @stock.stock %></p>
      </div>

      <div class="graph-point-hover">
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">+3</p>
          <p class="graph-hover-title">POINTS</p>
        </div>  
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">$170</p>
          <p class="graph-hover-title">TARGET</p>
        </div>
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">1D</p>
          <p class="graph-hover-title">TIME LEFT</p>
        </div>
        <div class="pull-right graph-hover-stat-item">
          <%= image_tag "del.jpg" %>
          <p class="graph-hover-title">delmnstr12</p>
        </div>
      </div>

      <div class="stockpage-graph">

        <div id="stock-div"></div>
      </div>

      <div class="timeframes-mobile">
        <% @graph_buttons.each do |button| %>
          <div class="timeframes-item pull-right" id="button" data-button-type=<%= button %>
          >
            <a><%= button %></a>
          </div>
        <% end %>
      </div>

      <div class = "graph-buttons" style="width:450px">
        
        
      </div>

      <div class="stockpage-mobile-predict-button-div">
        <a class="btn">PREDICT APPL</a>
      </div>

      <div class="open-prediction">
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">1 DAY</p>
          <p class="open-prediction-title">TIME LEFT</p>
        </div>
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">$170</p>
          <p class="open-prediction-title">TARGET PRICE</p>
        </div>
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">+3</p>
          <p class="open-prediction-title">POINTS</p>
        </div>
      </div>    
      <div class="close-prediction-button-mobile">
        <a class="btn">CLOSE PREDICTION</a>
      </div>


      <div class="stats-header">
        <p>Stats</p>
      </div>
      <div class="stats-content">
        <div class="stats-content-col-left col-xs-6">
          <div class="stats-content-item">
            <span class="stats-content-label">PRICE</span><span class="pull-right">$99.76</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">MKTCAP</span><span class="pull-right">624.4B</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">P/E RATIO</span><span class="pull-right">17</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">AVG VOL</span><span class="pull-right">50.9M</span>
          </div>
        </div>
        <div class="stats-content-col-right col-xs-6">
          <div class="stats-content-item">
            <span class="stats-content-label">CHANGE</span><span class="pull-right">+2.6%</span>  
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">52 WK HIGH</span><span class="pull-right">102.3</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">52 WK LOW</span><span class="pull-right">87.5</span>
          </div>
          <div class="stats-content-item">
            <span class="stats-content-label">VOLUME</span><span class="pull-right">55.3</span>
          </div>
        </div>
      </div>
    </div>





    <div class="prediction-item">
      <div class="vote-count-container clearfix">
        <div class="prediction-item-body col-xs-11 clearfix">
          <div class="col-xs-2 prediction-item-img">
            <%= image_tag "del.jpg" %>
          </div>
          <div class="prediction-item-txt">
            <p class="prediction-item-username">delmnstr12</p>
            <p class="prediction-item-main-txt"><span class="filler">Predicts</span> APPL will be +30 <span class="filler">points</span> in 2 weeks</p> 
          </div>
          <div class="prediction-item-tweet">
            <p>Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
          </div>
          <div class="prediction-footer">
            <i class="fa fa-clock-o">&nbsp;2 hrs</i><span>+20 points</span>
          </div>
        </div>
        <div class="prediction-item-vote-count col-xs-1">
          <a class="vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
          <p>10</p>
          <a class="vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
      <div class="prediction-item-comments">
        <div class="prediction-comment-header">
          <p>2 Comments</p>
        </div>
        <div class="prediction-comment-item">
          <div class="prediction-comment-col col-xs-11">
            <div class="prediction-comments-img pull-left">
              <%= image_tag "sean.png" %>
            </div>
            <div class="prediction-comments-txt pull-left">
              <p>
                <span class="prediction-comments-txt-username">seanjuan:&nbsp;</span>Kale chips cornhole ugh enim.
              </p>
              <div class="prediction-comments-txt-footer clearfix">
                <i class="fa fa-clock-o">&nbsp;2 hrs</i>
              </div>
            </div>
          </div>
          <div class="prediction-comment-vote-col col-xs-1">
            <a class="prediction-comment-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
            <p>10</p>
            <a class="prediction-comment-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="prediction-comment-item">
          <div class="prediction-comment-col col-xs-11">
            <div class="prediction-comments-img pull-left">
              <%= image_tag "sean.png" %>
            </div>
            <div class="prediction-comments-txt pull-left">
              <p>
                <span class="prediction-comments-txt-username">seanjuan:&nbsp;</span>Kale chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim.
              </p>
              <div class="prediction-comments-txt-footer clearfix">
                <i class="fa fa-clock-o">&nbsp;2 hrs</i>
              </div>
            </div>
          </div>
          <div class="prediction-comment-vote-col col-xs-1">
            <a class="prediction-comment-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
            <p>10</p>
            <a class="prediction-comment-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="prediction-comment-input">
          <div class="prediction-comments-img pull-left">
            <%= image_tag "sean.png" %>
          </div>
          <div class="prediction-comments-txt pull-left">
            <input placeholder="Leave a reply..">
          </div>
        </div>
      </div>
    </div>








    <div class = "stream" >
      <%= render partial: "streams/stream_main", locals: {streams: @streams, nest_count: 0} %>
    </div>
    <div id = "infinite-scrolling" >
      <%= will_paginate @streams %>
    </div>

    <!-- STREAM POSTS -->

  </div>
  <div class="col-sm-3 stockpage-sidebar">

  <% if @prediction.active %> 
    <%= render partial: 'predictions/prediction', locals: {prediction: @prediction} %>
  <% else %>
    <%= render 'shared/prediction_form' %>
  <% end %>
   

    <div class="stockpage-side-analysts-header black-gradient">
      <div class="user-sidebar-similar-header-txt">
        Top analysts for APPL
      </div>
    </div>
    <div class="stockpage-side-analysts-box">
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "del.jpg" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          delmnstr12
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          400
        </div>
      </a>
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "dyl.png" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          dyl$hmil
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          60k
        </div>
      </a>
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "elmer.png" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          fuddmnstr7
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          163
        </div>
      </a>
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "sean.png" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          seanjuan
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          90k
        </div>
      </a>
    </div>
    
  </div>

</div>



    <!-- 
    
    
  </div>
</div>
    -->



<% #
   #</div>
   #   render 'shared/follow_form'
  #</div>
#</div>

#
#<div class = "stock-page-prediction-box">
#   if @prediction.active_prediction_exists? 
#     render @prediction 
#   else 
#     render 'shared/prediction_form' 
#   end 
#</div>
#
#  <%= render 'shared/comment_form'


%>







