

<%= javascript_include_tag "stocks.coffee.js" %>
<%= include_gon(:init => true) %>



<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>


<!-- FULL WIDTH GRAPH -->

<section class="stockpage-graph-full blue-blur">
  <div class="constrainer">
    <div class="col-sm-12 col-md-9 stockpage-graph-col">
      <div class="ticker-name">
        <p><span class="tkr">Appl</span> (Apple Inc.)
      </div>
      
      <div class="graph-background-div">
        <p class="graph-background-date-time">MAR 23, 2015 - 00:00</p>
        <p class="graph-background-price">109.76 (+2.3%)</p>
      </div>
      
      <div class="stockpage-graph-full-img">
        <!-- PUT GRAPH HERE -->
      </div>
      <div class="graph-full-timeframes">
        <div class="timeframe-item pull-left"><a>1D</a></div>
        <div class="timeframe-item pull-left"><a>5D</a></div>
        <div class="timeframe-item pull-left"><a>1M</a></div>
        <div class="timeframe-item pull-left"><a>1Y</a></div>
        <div class="timeframe-item pull-left"><a>5Y</a></div>
      </div>
    </div>

    <div class="graph-mobile-predict-button-div">
      <a class="btn">PREDICT APPL</a>
    </div>

    <div class="graph-mobile-open-prediction">
      <div class="graph-mobile-open-prediction-col col-xs-4">
        <p class="graph-mobile-open-prediction-figure">1 DAY</p>
        <p class="graph-mobile-open-prediction-title">TIME LEFT</p>
      </div>
      <div class="graph-mobile-open-prediction-col col-xs-4">
        <p class="graph-mobile-open-prediction-figure">$170</p>
        <p class="graph-mobile-open-prediction-title">TARGET PRICE</p>
      </div>
      <div class="graph-mobile-open-prediction-col col-xs-4">
        <p class="graph-mobile-open-prediction-figure">+3</p>
        <p class="graph-mobile-open-prediction-title">POINTS</p>
      </div>
    </div>
    <div class="graph-mobile-close-prediction-button-mobile">
      <a class="btn">CLOSE PREDICTION</a>
    </div>

    <div class="col-sm-3 stockpage-graph-stats-col">

      <div class="graph-stats-header">
        <p>Latest Prediction</p>
      </div>
      <div class="graph-stats-content">
        <div class="graph-stats-content-item clearfix">
          <p class="graph-stats-content-label pull-left">dmnstr12</p><img class="pull-right" src="img/del.jpg">
        </div>
        <div class="graph-stats-content-item">
          <span class="graph-stats-content-label">TIME LEFT</span><span class="pull-right">624.4B</span>
        </div>
        <div class="graph-stats-content-item">
          <span class="graph-stats-content-label">TARGET</span><span class="pull-right">17</span>
        </div>
        <div class="graph-stats-content-item">
          <span class="graph-stats-content-label">POINTS</span><span class="pull-right">50.9M</span>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- END FULL WIDTH GRAPH -->




<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">

    <!-- STREAM POSTS -->
    <div class = "stream" >
      <%= render partial: "streams/stream_main", locals: {streams: @streams} %>
    </div>
    <div id = "infinite-scrolling" >
      <%= will_paginate @streams %>
    </div>

  </div>

  <div class="col-sm-3 stockpage-sidebar">

    <% if @prediction.active %> 
      <%= render partial: 'shared/prediction_open', locals: {prediction: @prediction} %>
    <% else %>
      <%= render 'shared/prediction_form' %>
    <% end %>

    <%= render partial: 'shared/comment_form', locals: {stock: @stock} %>
    
    <%= render partial: 'stocks/ranking', locals: {stock: @stock} %>
    
    
    
  </div>

</div>

  









