

<%= javascript_include_tag "stocks.coffee.js" %>
<%= include_gon(:init => true) %>

<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>

<!-- FULL WIDTH GRAPH -->

<section class="stockpage-graph-full blue-blur">
  <div class="constrainer">
    
    <!-- title of the stock graph -->
    <div id = "title-replace-box">
      <%= render partial: "shared/graph/stock_title", locals: {stock: @stock, target: @target} %>
    </div>
    
    <div class="col-xs-12 col-sm-9 stockpage-graph-col">
      <div class="graph-background-div">
        <p class="tkr"><%= @stock.ticker_symbol %></p>
      </div>
      
      <div id="stock-div" class="graph-div"></div>

      <div class="graph-full-timeframes">
        <% @graph_buttons.each do |button| %>
          <% if button == "3M" || button == "6M" %>
            <span class="add-timeframes">
              <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
                <a><%= button %></a>
              </div>
            </span>
          <% else %> 
            <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
              <a><%= button %></a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-3 stockpage-graph-stats-col">

      <div id ="graph-replace-box">
        <%= render partial: "shared/graph/daily_price.html.erb", locals: {price:@price_point} %>
      </div>
    </div>

    <div class="col-sm-12 col-md-9 stockpage-mobile-buttoms-col">

      <div class="graph-mobile-predict-button-div">
        <a class="btn">PREDICT APPL</a>
      </div>

      <div class="graph-mobile-open-prediction">
        <div class="graph-mobile-open-prediction-col col-xs-4">
          <p class="graph-mobile-open-prediction-figure">1 DAY</p>
          <p class="graph-mobile-open-prediction-title">TIME LEFT</p>
        </div>
        <div class="graph-mobile-open-prediction-col col-xs-4">
          <p class="graph-mobile-open-prediction-figure">$170</p>
          <p class="graph-mobile-open-prediction-title">TARGET PRICE</p>
        </div>
        <div class="graph-mobile-open-prediction-col col-xs-4">
          <p class="graph-mobile-open-prediction-figure">+3</p>
          <p class="graph-mobile-open-prediction-title">POINTS</p>
        </div>
      </div>
      <div class="graph-mobile-close-prediction-button-mobile">
        <a class="btn">CLOSE PREDICTION</a>
      </div>

    </div>

  </div>
</section>


<!-- END FULL WIDTH GRAPH -->



<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">

    <!-- STREAM POSTS -->
    <div class = "stream" >
      <%= render partial: "streams/stream_main", locals: {streams: @streams} %>
    </div>
    <div id = "infinite-scrolling" >
      <%= will_paginate @streams %>
    </div>

  </div>

  <div class="col-sm-3 stockpage-sidebar">

    <% if @prediction.active %> 
      <%= render partial: 'shared/prediction_open', locals: {prediction: @prediction} %>
    <% else %>
      <%= render 'shared/prediction_form' %>
    <% end %>

    <%= render partial: 'shared/comment_form', locals: {stock: @stock} %>
    
    <%= render partial: 'stocks/ranking', locals: {stock: @stock} %>
    

    <div class="stockpage-sidebar-stocks">
      <div class="stockpage-sidebar-stocks-box">
        <div class="stockpage-sidebar-stocks-header">
          <div class="stockpage-sidebar-stocks-header-txt pull-left">
            Stocks Similar to AAPL
          </div>
        </div>

        <a class="stockpage-sidebar-stocks-item clearfix" href="#">
          <div class="stockpage-sidebar-stocks-label pull-left">
            TWTR<span>&nbsp;&nbsp;&nbsp;(TECH)</span>
          </div>
          <div class="stockpage-sidebar-stocks-number pull-right">
            <i class="fa fa-users"></i>163
          </div>
        </a>
        <a class="stockpage-sidebar-stocks-item clearfix" href="#">
          <div class="stockpage-sidebar-stocks-label pull-left">
            AMZN<span>&nbsp;&nbsp;&nbsp;(TECH)</span>
          </div>
          <div class="stockpage-sidebar-stocks-number pull-right">
            <i class="fa fa-users"></i>63
          </div>
        </a>
        <a class="stockpage-sidebar-stocks-item clearfix" href="#">
          <div class="stockpage-sidebar-stocks-label pull-left">
            GOOG<span>&nbsp;&nbsp;&nbsp;(TECH)</span>
          </div>
          <div class="stockpage-sidebar-stocks-number pull-right">
            <i class="fa fa-users"></i>390
          </div>
        </a>
        <a class="stockpage-sidebar-stocks-item clearfix" href="#">
          <div class="stockpage-sidebar-stocks-label pull-left">
            FB<span>&nbsp;&nbsp;&nbsp;(TECH)</span>
          </div>
          <div class="stockpage-sidebar-stocks-number pull-right">
            <i class="fa fa-users"></i>21k
          </div>
        </a>
      </div>
    </div>
    
    
  </div>

</div>

  









