<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>

<div class = "constrainer">
  <div class = "main-aside col-sm-4">

    <div class = "stock-container">
      <div class = "row">
        <div class = "col-xs-4">
          <p class = "stock-ticker"><%= @stock[:ticker_symbol] %></p>
        </div>
        <div class = "col-xs-6">
          <p class = "stock-ticker-price"><%= @stock[:daily_stock_price] %></p>
          <p class = "stock-ticker-price">
              <font color="green" > +1.34 </font>
          </p>
        </div>
      </div>
      <div class = "row">
        <div class = "col-xs-4">
          <p class = "stock-ticker-detail-header">Predictions</p>
          <p class = "stock-ticker-detail-number">38</p>
        </div>
        <div class = "col-xs-4">
          <p class = "stock-ticker-detail-header">Comments</p>
          <p class = "stock-ticker-detail-number">28</p>
        </div>
      </div>
      <div class = "row">
        <div class = "col-xs-4">
          <p class = "stock-ticker-detail-header">P/E</p>
          <p class = "stock-ticker-detail-number">62.37M<br>64.13M</p>
        </div>
        <div class = "col-xs-4">
          <p class = "stock-ticker-detail-header">52wk</p>
          <p class = "stock-ticker-detail-number">67.77<br>103.74</p>
        </div>
        <div class = "col-xs-4">
          <p class = "stock-ticker-detail-header">Vol/ Avg</p>
          <p class = "stock-ticker-detail-number">28</p>
        </div>
      </div>
    </div>


    <div class = "stock-page-prediction-box">
      <p class = "stock-page-prediction-header">
        <%= @stock[:ticker_symbol] %>
      </p>
      <form method='post' name='process'>
        <input type='number' required="true" name='target-price' placeholder='target price (eg. 100.00)' class="stock-page-prediction-field" id='target-price'/> <br>
      <!-- <div id = "prediction-fields"> -->
          <input type='number' required="true" name='target-date' placeholder='duration in days (eg. 100)' class="stock-page-prediction-field" id='target-price'/> <br>
          <textarea name='comment' placeholder='comment (optional)' class="stock-page-comment-field" id='comment'/></textarea>
        </form>
        <input type="submit" class="btn stock-page-prediction-submit-btn" value="Submit">
      <!-- </div> -->
    </div>

    <script>
      $("#target-price").focus(function () {
        alert("fuuuuuuck");
      //  if ($("#prediction-fields").is(":show"))
      // {
      //  $("#prediction-fields").slideDown("normal");
      // }
      //  else  {
      //  $("#prediction-fields").hide();
      // }
      });
    </script>

    <div class = "stock-page-comment-box">
      <p class = "stock-page-prediction-header">
        Comment on <%= @stock[:ticker_symbol] %>
      </p>
      <form method='post' name='process'>
        <input type='text' name='comment' placeholder='type your comment and hit enter' class="stock-page-comment-field" id='comment'/>
      </form>
      <input type="submit" class="btn stock-page-comment-submit-btn" value="Submit">
    </div>


    <div class = "stock-page-top-analysts">

    
      <p class = "stock-page-top-analysts-header">
        Top <%= @stock[:ticker_symbol] %> Analysts
      </p>

      <a href = "#">
        <div class = "row">
          <div class = "col-sm-3">
            <div class = "top-analysts-mug-container">
              <img src="images/mug2.png">
            </div>
          </div>
          <div class = "top-analysts-txt-container col-xs-9">
            <p class = "top-analysts-handle">USER-NAME</p>
            <p class = "top-analysts-points">100 points</p>
          </div>
        </div>
      </a>

    </div>

  </div>
<script>
  get_alert = function() {
    window.alert("on the page");
  }
</script>
  <div class = "stock-page-aside col-sm-8">

    <div class = "graph-container">
      <div class = "graph-buttons">
        <% @date_limits_array.each do |date_limits_hash| %>
          
          <button id="button" 
              data-x-range-min=<%= date_limits_hash[:x_range_min] %> 
              data-x-range-max=<%= date_limits_hash[:x_range_max] %>
            >
            <%= date_limits_hash[:name] %>
          </button>
        <% end %>
        <button onclick="window.alert('on the page')" >5r</button>
      </div>
      

      <div id="stock-div" style="min-width:50px;"></div>
    </div>

    <div class = "prediction-buttons-container">
      <div class = "row">
        <div class = "col-xs-6">
          <input type="submit" class="btn prediction-btn-stock-page" value="Make a Prediction">
        </div>
        <div class = "col-xs-6">
          <input type="submit" class="btn prediction-btn-stock-page" value="Make a Comment">
        </div>
      </div>
    </div>

    <div class = "prediction-post">
      <div class = "row">
        <div class = "col-xs-3 col-sm-2 col-md-2">
          <div class = "prediction-post-mug-container">
            <img src="images/mug2.png">
          </div>
        </div>
        <div class = "prediction-post-txt-container col-xs-9">
          <p class = "handle">Username &nbsp;&bull;&nbsp;1hr</p>
          <p class = "prediction-txt">&#36;AAPL&#58;&nbsp;&#43;50 days remaining&nbsp;
            <span>&ndash;4</span></p>
          <p class = "comment-txt">Lorem $APPL ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class = "prediction-post-txt-icons">
            <i class="fa fa-reply fa-lg">&nbsp;&nbsp;1</i>
            <i class="fa fa-thumbs-o-down fa-lg">&nbsp;&nbsp;2</i>
            <i class="fa fa-thumbs-o-up fa-lg">&nbsp;&nbsp;3</i>
          </div>
        </div>
      </div>
    </div>

    <div class = "prediction-post">
      <div class = "row">
        <div class = "col-xs-3 col-sm-2 col-md-2">
          <div class = "prediction-post-mug-container">
            <img src="images/mug2.png">
          </div>
        </div>
        <div class = "prediction-post-txt-container col-xs-9">
          <p class = "handle">@gngrdev&nbsp;&bull;&nbsp;1hr</p>
          <p class = "prediction-txt">&#36;AAPL&#58;&nbsp;&#43;50 days remaining&nbsp;
            <span>&ndash;4</span></p>
          <p class = "comment-txt">Lorem $APPL ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class = "prediction-post-txt-icons">
            <i class="fa fa-reply fa-lg">&nbsp;&nbsp;1</i>
            <i class="fa fa-thumbs-o-down fa-lg">&nbsp;&nbsp;2</i>
            <i class="fa fa-thumbs-o-up fa-lg">&nbsp;&nbsp;3</i>
          </div>
        </div>
      </div>
    </div>


    <div class = "prediction-post-reply">
      <div class = "row">
        <div class = "col-xs-3 col-sm-2 col-md-2">
          <div class = "prediction-post-mug-container">
            <img src="images/dillshmill.png">
          </div>
        </div>
        <div class = "prediction-post-txt-container col-xs-9">
          <p class = "handle">@dillshmill&nbsp;&bull;&nbsp;2hr</p>
          <p class = "prediction-txt">&#36;AAPL&#58;&nbsp;&#43;50 days remaining&nbsp;
            <span>&ndash;4</span></p>
          <p class = "comment-txt">@gngrdev Lorem $APPL ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class = "prediction-post-txt-icons">
            <i class="fa fa-reply fa-lg">&nbsp;&nbsp;1</i>
            <i class="fa fa-thumbs-o-down fa-lg">&nbsp;&nbsp;2</i>
            <i class="fa fa-thumbs-o-up fa-lg">&nbsp;&nbsp;3</i>
          </div>
        </div>
      </div>
    </div>

    <div class = "prediction-post-agree">
      <div class = "row">
        <div class = "col-xs-3 col-sm-2 col-md-2">
          <div class = "prediction-post-mug-container">
            <div class = "agree-thumb-box">
              <i class="fa fa-thumbs-o-up fa-lg"></i>
            </div>
            <img src="images/dillshmill.png">
          </div>
        </div>
        <div class = "prediction-post-txt-container col-xs-9">
          <p class = "agree-txt">@gngrdev agrees
          <p class = "handle">@dillshmill&nbsp;&bull;&nbsp;2hr</p>
          <p class = "comment-txt">@gngrdev Lorem $APPL ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class = "prediction-post-txt-icons">
            <i class="fa fa-reply fa-lg">&nbsp;&nbsp;1</i>
            <i class="fa fa-thumbs-o-down fa-lg">&nbsp;&nbsp;2</i>
            <i class="fa fa-thumbs-o-up fa-lg">&nbsp;&nbsp;3</i>
          </div>
        </div>
      </div>
    </div>

    <div class = "prediction-post-disagree">
      <div class = "row">
        <div class = "col-xs-3 col-sm-2 col-md-2">
          <div class = "prediction-post-mug-container">
            <div class = "disagree-thumb-box">
              <i class="fa fa-thumbs-o-down fa-lg"></i>
            </div>
            <img src="images/dillshmill.png">
          </div>
        </div>
        <div class = "prediction-post-txt-container col-xs-9">
          <p class = "disagree-txt">@gngrdev disagrees
          <p class = "handle">@dillshmill&nbsp;&bull;&nbsp;2hr</p>
          <p class = "comment-txt">@gngrdev Lorem $APPL ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class = "prediction-post-txt-icons">
            <i class="fa fa-reply fa-lg">&nbsp;&nbsp;1</i>
            <i class="fa fa-thumbs-o-down fa-lg">&nbsp;&nbsp;2</i>
            <i class="fa fa-thumbs-o-up fa-lg">&nbsp;&nbsp;3</i>
          </div>
        </div>
      </div>
    </div>

    <div class = "prediction-post-comment">
      <div class = "row">
        <div class = "col-xs-3 col-sm-2 col-md-2">
          <div class = "prediction-post-mug-container">
            <img src="images/dillshmill.png">
          </div>
        </div>
        <div class = "prediction-post-txt-container col-xs-9">
          <p class = "handle">@dillshmill&nbsp;&bull;&nbsp;2hr</p>
          <p class = "comment-txt">Lorem $APPL ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class = "prediction-post-txt-icons">
            <i class="fa fa-reply fa-lg">&nbsp;&nbsp;1</i>
            <i class="fa fa-thumbs-o-down fa-lg">&nbsp;&nbsp;2</i>
            <i class="fa fa-thumbs-o-up fa-lg">&nbsp;&nbsp;3</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- STREAM FORM -->
<% if logged_in? %>
		<div class="row">
		<aside class="col-md-4">
			<section class="post_form">
				<%= render 'shared/stream_form' %>
			</section>
		</aside>
	</div>
<% end %>

<!-- DISPLAY ALL STOCK POSTS -->
<div class = "col-md-8">

	<% ##Does not display if user streams don't exist %>
	<% if @comments != nil %>
		<% ## Diplay Post Count %>
		<h3> Posts (<%= @posts.count %>)</h3>
		<ol class = "microposts">
		<% # Renders each post in @posts variable with streams view partial. Streams view partial  %>
			<% @posts.each do |post| %>
				<%= render post %>
			<% end %>
		</ol>
		<% ## Splits the posts in pages to prevent displaying too many posts %>
		
	<% end %>
</div>



