<%= include_gon(:init => true) %>
<%= javascript_include_tag "stock-graph.js" %>

<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>

<!-- FULL WIDTH GRAPH -->

<section class="stockpage-graph-full blue-blur">
  <div class="constrainer">
    
    <!-- title of the stock graph -->
    <div id = "title-replace-box">
      <%= render partial: "shared/graph/stock_title", locals: {stock: @stock, target: @target} %>
    </div>
    
    <div class="col-xs-12 col-sm-9 stockpage-graph-col">
      <div class="graph-background-div">
        <p class="tkr"><%= @stock.ticker_symbol %></p>
      </div>
      
      <div id="stock-div" class="graph-div"></div>

      <div class="graph-full-timeframes">
        <% @graph_buttons.each do |button| %>
          <% if button == "3M" || button == "6M" %>
            <span class="add-timeframes">
              <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
                <a><%= button %></a>
              </div>
            </span>
          <% else %> 
            <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
              <a><%= button %></a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-3 stockpage-graph-stats-col">

      <div id ="graph-replace-box">
        <%= render partial: "shared/graph/daily_price.html.erb", locals: {price:@price_point} %>
      </div>
    </div>

    <div class="col-sm-12 col-md-9 stockpage-mobile-buttoms-col">

      <div class="graph-mobile-predict-button-div">
        <a class="btn">PREDICT APPL</a>
      </div>

      <div class="graph-mobile-open-prediction">
        <div class="graph-mobile-open-prediction-col col-xs-4">
          <p class="graph-mobile-open-prediction-figure">1 DAY</p>
          <p class="graph-mobile-open-prediction-title">TIME LEFT</p>
        </div>
        <div class="graph-mobile-open-prediction-col col-xs-4">
          <p class="graph-mobile-open-prediction-figure">$170</p>
          <p class="graph-mobile-open-prediction-title">TARGET PRICE</p>
        </div>
        <div class="graph-mobile-open-prediction-col col-xs-4">
          <p class="graph-mobile-open-prediction-figure">+3</p>
          <p class="graph-mobile-open-prediction-title">POINTS</p>
        </div>
      </div>
      <div class="graph-mobile-close-prediction-button-mobile">
        <a class="btn">CLOSE PREDICTION</a>
      </div>

    </div>

  </div>
</section>

<!-- END FULL WIDTH GRAPH -->

<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">

    <!-- TOOLBAR DESKTOP -->

    <% if @current_user.active_prediction_exists?(@stock) %>
      <%= render partial: 'stocks/stockpage_desktop_toolbar_close' %>
      <% else %>
      <%= render partial: 'stocks/stockpage_desktop_toolbar' %>
    <%end%>


    <% if @prediction.active %>
      <%= render partial: 'shared/prediction_open', locals: {prediction: @prediction} %>
    <% else %>
      <%= render 'shared/prediction_form' %>
    <% end %>

    <% if @streams.empty? %>
      <%= render partial: 'streams/empty_stream', locals: {streams: @streams} %>
    <%end %>



    <!-- STREAM POSTS -->

    <div class = "stream" >
      <%= render partial: "streams/stream_main", locals: {streams: @streams} %>
    </div>

    <div id = "infinite-scrolling" >
      <%= will_paginate @streams %>
    </div>

  </div>

  <div class="col-sm-3 stockpage-sidebar">
    <% unless @stock.users.empty? %>
      <%= render partial: 'stocks/ranking', locals: {stock: @stock} %>
    <% end %>
    <%= render partial: 'shared/popular_stocks', locals: {popular_stocks: @popular_stocks} %>
  </div>

</div>


<!-- MOBILE TOOLBAR STICKY FOOTER  -->

<% if @current_user.active_prediction_exists?(@stock) %>

  <%= render partial: 'stocks/stockpage_mobile_toolbar_close' %>
  <% else %>
  <%= render partial: 'stocks/stockpage_mobile_toolbar' %>

<%end%>


