

<%= javascript_include_tag "stocks.coffee.js" %>
<%= include_gon(:init => true) %>



<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>

<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">

    <div class="stockpage-graph-module black-gradient clearfix">
      <div class="pull-left stockpage-ticker">
        <p><%= @stock.ticker_symbol %> - <%= @stock.stock %></p>
      </div>

      <div class="graph-point-hover">
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">+3</p>
          <p class="graph-hover-title">POINTS</p>
        </div>  
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">$170</p>
          <p class="graph-hover-title">TARGET</p>
        </div>
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">1D</p>
          <p class="graph-hover-title">TIME LEFT</p>
        </div>
        <div class="pull-right graph-hover-stat-item">
          <%= image_tag "del.jpg" %>
          <p class="graph-hover-title">delmnstr12</p>
        </div>
      </div>

      <div class="stockpage-graph">

        <div id="stock-div"></div>
      </div>

      <div class="timeframes-mobile">
        <% @graph_buttons.each do |button| %>
          <div class="timeframes-item pull-right" id="button" data-button-type=<%= button %>
          >
            <a><%= button %></a>
          </div>
        <% end %>
      </div>

      <div class = "graph-buttons" style="width:450px">
        
        
      </div>

      <div class="stockpage-mobile-predict-button-div">
        <a class="btn">PREDICT APPL</a>
      </div>

      <div class="open-prediction">
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">1 DAY</p>
          <p class="open-prediction-title">TIME LEFT</p>
        </div>
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">$170</p>
          <p class="open-prediction-title">TARGET PRICE</p>
        </div>
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">+3</p>
          <p class="open-prediction-title">POINTS</p>
        </div>
      </div>    
      <div class="close-prediction-button-mobile">
        <a class="btn">CLOSE PREDICTION</a>
      </div>


      <div class="stats-header">
        <p>Mar 12th, 2015</p>

      </div>
      <div class="stats-content">
        <div class="stats-content-col-left col-xs-6">
          <div class="stats-content-item">
            <span class="stats-content-label">PRICE</span><span class="pull-right">$99.76</span>
          </div>
          
        </div>
        <div class="stats-content-col-right col-xs-6">
          <div class="stats-content-item">
            <span class="stats-content-label">CHANGE</span><span class="pull-right">+2.6%</span>  
          </div>
          
        </div>
      </div>
    </div>

    <!-- STREAM POSTS -->
    <div class = "stream" >
      <%= render partial: "streams/stream_main", locals: {streams: @streams, nest_count: 0} %>
    </div>
    <div id = "infinite-scrolling" >
      <%= will_paginate @streams %>
    </div>
  </div>

  <div class="col-sm-3 stockpage-sidebar">

  <% if @prediction.active %> 
    <%= render partial: 'shared/prediction_open', locals: {prediction: @prediction} %>
  <% else %>
    <%= render 'shared/prediction_form' %>
  <% end %>

    <%= render partial: 'shared/comment_form', locals: {stock: @stock} %>

    <div class="stockpage-side-analysts-header black-gradient">
      <div class="user-sidebar-similar-header-txt">
        Top analysts for APPL
      </div>
    </div>
    <div class="stockpage-side-analysts-box">
    <% @stock.top_analysts(5).each do |analyst| %>
      <%= render partial: 'stocks/ranking', locals: {analyst: analyst, stock: @stock} %>
    <% end %>
    </div>
    
  </div>

</div>

  









