

<%= javascript_include_tag "stocks.coffee.js" %>
<%= include_gon(:init => true) %>

<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>


<!-- FULL WIDTH GRAPH -->

<section class="stockpage-graph-full blue-blur">
  <div class="constrainer">
    <div class="ticker-name clearfix">
      <p>
        <span>Apple Inc.</span>
        <a class="stockpage-follow-btn btn">Follow</a>
      </p>
    </div>

    <div class="prediction-name clearfix">
      <p>
        <%= image_tag "del.jpg" %>
        <span class="prediction-name-title">dmnstr12 Prediction</span>
      </p>
    </div>

    <div class="col-xs-12 col-sm-9 stockpage-graph-col">
      <div class="graph-background-div">
        <p class="tkr">APPL</p>
      </div>
      
      <div>
        <div id="stock-div"></div>
      </div>

      <div class="graph-full-timeframes">
        <% @graph_buttons.each do |button| %>
          <% if button == "3M" || button == "6M" %>
            <span class="add-timeframes">
              <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
                <a><%= button %></a>
              </div>
            </span>
          <% else %> 
            <div class="timeframe-item pull-left" id="button" data-button-type=<%= button %>>
              <a><%= button %></a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-3 stockpage-graph-stats-col">

      <div class="graph-stock-stats">
        <div class="graph-stats-date-price">
          <p class="graph-price">$170</p>
          <p class="graph-label">MAY 9, 2015 - 02:20:30</p>
        </div>
      </div>

      <div class="graph-prediction-stats clearfix">
        <div class="graph-stats-date-price col-xs-6 col-sm-12">
          <p class="graph-price">$170</p>
          <p class="graph-label">MAY 9, 2015 - 02:20:30</p>
        </div>
        <div class="graph-prediction-stats graph-prediction-stats-2 col-xs-6 col-sm-12">
          <p class="graph-price">+3.4</p>
          <p class="graph-label">POINTS</p>
        </div>
      </div>

    </div>

    <div class="col-sm-12 col-md-9 stockpage-mobile-buttoms-col">

      <div class="graph-mobile-predict-button-div">
        <a class="btn">PREDICT APPL</a>
      </div>

      <div class="graph-mobile-open-prediction">
        <div class="graph-mobile-open-prediction-col col-xs-4">
          <p class="graph-mobile-open-prediction-figure">1 DAY</p>
          <p class="graph-mobile-open-prediction-title">TIME LEFT</p>
        </div>
        <div class="graph-mobile-open-prediction-col col-xs-4">
          <p class="graph-mobile-open-prediction-figure">$170</p>
          <p class="graph-mobile-open-prediction-title">TARGET PRICE</p>
        </div>
        <div class="graph-mobile-open-prediction-col col-xs-4">
          <p class="graph-mobile-open-prediction-figure">+3</p>
          <p class="graph-mobile-open-prediction-title">POINTS</p>
        </div>
      </div>
      <div class="graph-mobile-close-prediction-button-mobile">
        <a class="btn">CLOSE PREDICTION</a>
      </div>

    </div>

  </div>
</section>


<!-- END FULL WIDTH GRAPH -->



<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">

    <!-- STREAM POSTS -->
    <div class = "stream" >
      <%= render partial: "streams/stream_main", locals: {streams: @streams} %>
    </div>
    <div id = "infinite-scrolling" >
      <%= will_paginate @streams %>
    </div>

  </div>

  <div class="col-sm-3 stockpage-sidebar">

    <% if @prediction.active %> 
      <%= render partial: 'shared/prediction_open', locals: {prediction: @prediction} %>
    <% else %>
      <%= render 'shared/prediction_form' %>
    <% end %>

    <%= render partial: 'shared/comment_form', locals: {stock: @stock} %>
    
    <%= render partial: 'stocks/ranking', locals: {stock: @stock} %>
    
    
    
  </div>

</div>

  









