

<%= javascript_include_tag "stocks.coffee.js" %>
<%= include_gon(:init => true) %>



<% content_for :title do %>
  <title><%= @stock[:ticker_symbol] %> Stock Predictions - StockHero.com</title>
<% end %>

<div class="constrainer">

  <div class="col-xs-12 col-sm-9 stockpage-body">

    <div class="stockpage-graph-module black-gradient clearfix">
      <div class="pull-left stockpage-ticker">
        <p><%= @stock.ticker_symbol %> - <%= @stock.stock %></p>
      </div>

      <div class="graph-point-hover">
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">+3</p>
          <p class="graph-hover-title">POINTS</p>
        </div>  
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">$170</p>
          <p class="graph-hover-title">TARGET</p>
        </div>
        <div class="pull-right graph-hover-stat-item">
          <p class="graph-hover-figure">1D</p>
          <p class="graph-hover-title">TIME LEFT</p>
        </div>
        <div class="pull-right graph-hover-stat-item">
          <%= image_tag "del.jpg" %>
          <p class="graph-hover-title">delmnstr12</p>
        </div>
      </div>

      <div class="stockpage-graph">

        <div id="stock-div"></div>
      </div>

      <div class="timeframes-mobile">
        <% @graph_buttons.each do |button| %>
          <div class="timeframes-item pull-right" id="button" data-button-type=<%= button %>
          >
            <a><%= button %></a>
          </div>
        <% end %>
      </div>

      <div class = "graph-buttons" style="width:450px">
        
        
      </div>

      <div class="stockpage-mobile-predict-button-div">
        <a class="btn">PREDICT APPL</a>
      </div>

      <div class="open-prediction">
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">1 DAY</p>
          <p class="open-prediction-title">TIME LEFT</p>
        </div>
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">$170</p>
          <p class="open-prediction-title">TARGET PRICE</p>
        </div>
        <div class="open-prediction-col col-xs-4">
          <p class="open-prediction-figure">+3</p>
          <p class="open-prediction-title">POINTS</p>
        </div>
      </div>    
      <div class="close-prediction-button-mobile">
        <a class="btn">CLOSE PREDICTION</a>
      </div>


      <div class="stats-header">
        <p>Mar 12th, 2015</p>

      </div>
      <div class="stats-content">
        <div class="stats-content-col-left col-xs-6">
          <div class="stats-content-item">
            <span class="stats-content-label">PRICE</span><span class="pull-right">$99.76</span>
          </div>
          
        </div>
        <div class="stats-content-col-right col-xs-6">
          <div class="stats-content-item">
            <span class="stats-content-label">CHANGE</span><span class="pull-right">+2.6%</span>  
          </div>
          
        </div>
      </div>
    </div>

    <div class = "stream" >
      <%= render partial: "streams/stream_main", locals: {streams: @streams, nest_count: 0} %>
    </div>
    <div id = "infinite-scrolling" >
      <%= will_paginate @streams %>
    </div>


    <!-- NEWS ITEM -->


    <div class="news-item">
      <div class="news-vote-count-container clearfix">
        <div class="news-item-body col-xs-11 clearfix">
          <div class="col-xs-2 news-item-img">
            <%= image_tag ("news-icon.png") %>
          </div>
          <div class="news-item-txt">
            <p class="news-item-username">YAHOO NEWS</p>
            <p class="news-item-main-txt">Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse $APPL anim pickled ad quis Portland.  Deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats&nbsp;&nbsp;<a href="#">..more&nbsp;&#8594;</a></p>
          </div>
          <div class="prediction-footer">
            <i class="fa fa-clock-o">&nbsp;2 hrs</i>
          </div>
        </div>
        <div class="news-item-vote-count col-xs-1">
          <a class="news-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
          <p>10</p>
          <a class="news-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
      <div class="stream-item-comments">
        <div class="stream-comment-header">
          <p>2 Replies</p>
        </div>
        <div class="stream-comment-item">
          <div class="stream-comment-col col-xs-11">
            <div class="stream-comments-img pull-left">
            <%= image_tag ("sean.png") %>
            </div>
            <div class="stream-comments-txt pull-left">
              <p>
                <span class="stream-comments-txt-username">seanjuan:&nbsp;</span>Kale chips cornhole ugh enim.
              </p>
              <div class="stream-comments-txt-footer clearfix">
                <i class="fa fa-clock-o">&nbsp;2 hrs</i>
              </div>
            </div>
          </div>
          <div class="stream-comment-vote-col col-xs-1">
            <a class="stream-comment-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
            <p>10</p>
            <a class="stream-comment-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="stream-comment-item">
          <div class="stream-comment-col col-xs-11">
            <div class="stream-comments-img pull-left">
            <%= image_tag ("sean.png") %>
            </div>
            <div class="stream-comments-txt pull-left">
              <p>
                <span class="stream-comments-txt-username">seanjuan:&nbsp;</span>Kale chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim.
              </p>
              <div class="stream-comments-txt-footer clearfix">
                <i class="fa fa-clock-o">&nbsp;2 hrs</i>
              </div>
            </div>
          </div>
          <div class="stream-comment-vote-col col-xs-1">
            <a class="stream-comment-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
            <p>10</p>
            <a class="stream-comment-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="stream-comment-input">
          <div class="stream-comments-img pull-left">
            <%= image_tag ("sean.png") %>
          </div>
          <div class="stream-comments-txt pull-left">
            <input placeholder="Leave a reply..">
          </div>
        </div>
      </div>
    </div>






    <div class="close-prediction-item">
      <div class="close-prediction-vote-count-container clearfix">
        <div class="close-prediction-item-body col-xs-11 clearfix">
          <div class="col-xs-2 close-prediction-item-img">
            <%= image_tag ("del.jpg") %>
          </div>
          <div class="close-prediction-item-txt">
            <p class="close-prediction-item-username">delmnstr12</p>
            <p class="close-prediction-item-main-txt"><span class="filler">Predicts</span> APPL will be +30 <span class="filler">points</span> in 2 weeks</p> 
          </div>
          <div class="close-prediction-item-closing-tweet">
            <p><span class="closing-tweet">Closing Comment:</span> Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
          </div>
          <div class="close-prediction-footer">
            <i class="fa fa-clock-o">&nbsp;2 hrs</i><span>+20 points</span>
          </div>
          <div class="close-prediction-item-tweet">
            <p>Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
          </div>
        </div>
        <div class="close-prediction-item-vote-count col-xs-1">
          <a class="close-prediction-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
          <p>10</p>
          <a class="close-prediction-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
      <div class="stream-item-comments">
        <div class="stream-comment-header">
          <p>2 Replies</p>
        </div>
        <div class="stream-comment-item">
          <div class="stream-comment-col col-xs-11">
            <div class="stream-comments-img pull-left">
              <%= image_tag ("sean.png") %>
            </div>
            <div class="stream-comments-txt pull-left">
              <p>
                <span class="stream-comments-txt-username">seanjuan:&nbsp;</span>Kale chips cornhole ugh enim.
              </p>
              <div class="stream-comments-txt-footer clearfix">
                <i class="fa fa-clock-o">&nbsp;2 hrs</i>
              </div>
            </div>
          </div>
          <div class="stream-comment-vote-col col-xs-1">
            <a class="stream-comment-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
            <p>10</p>
            <a class="stream-comment-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="stream-comment-item">
          <div class="stream-comment-col col-xs-11">
            <div class="stream-comments-img pull-left">
              <%= image_tag ("sean.png") %>
            </div>
            <div class="stream-comments-txt pull-left">
              <p>
                <span class="stream-comments-txt-username">seanjuan:&nbsp;</span>Kale chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim.
              </p>
              <div class="stream-comments-txt-footer clearfix">
                <i class="fa fa-clock-o">&nbsp;2 hrs</i>
              </div>
            </div>
          </div>
          <div class="stream-comment-vote-col col-xs-1">
            <a class="stream-comment-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
            <p>10</p>
            <a class="stream-comment-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="stream-comment-input">
          <div class="stream-comments-img pull-left">
            <%= image_tag ("sean.png") %>
          </div>
          <div class="stream-comments-txt pull-left">
            <input placeholder="Leave a reply..">
          </div>
        </div>
      </div>
    </div>








    <!-- STREAM POSTS -->

  </div>
  <div class="col-sm-3 stockpage-sidebar">

  <% if @prediction.active %> 
    <%= render partial: 'predictions/prediction', locals: {prediction: @prediction} %>
  <% else %>
    <%= render 'shared/prediction_form' %>
  <% end %>
   



    <div class="stockpage-sidebar-open">
      <div class="stockpage-sidebar-open-header red-gradient">
        <div class="stockpage-sidebar-open-header-txt pull-left">
          Open Prediction
        </div>
        <div class="stockpage-sidebar-open-points pull-right">
          <i class="fa fa-line-chart"></i>
        </div>
      </div>
      <div class="stockpage-sidebar-open-box">
        <div class="sidebar-open-item col-md-4">
          <p class="sidebar-open-figure">1D</p>
          <p class="sidebar-open-title">TIME LEFT</p>
        </div>
        <div class="sidebar-open-item col-md-4">
          <p class="sidebar-open-figure">$170</p>
          <p class="sidebar-open-title">TARGET</p>
        </div>
        <div class="sidebar-open-item col-md-4">
          <p class="sidebar-open-figure">+3</p>
          <p class="sidebar-open-title">POINTS</p>
        </div>  
        <div class="sidebar-open-close-comment-div">
          <textarea class="close-comment-textarea" placeholder="Why are you closing this prediction?"></textarea>
          <div class="checkbox">
            <input class="comment-only" type="checkbox" name="" value=""><span class="check-box-span">No comment</span>
          </div>
        </div>
        <div class="sidebar-close-button">
          <a class="btn">CLOSE PREDICTION</a>
        </div>
      </div>

      <div class="stockpage-sidebar-comment-header red-gradient">
        <div class="stockpage-sidebar-comment-header-txt pull-left">
          Comment on APPL
        </div>
        <div class="stockpage-sidebar-comment-points pull-right">
          <i class="fa fa-comment"></i>
        </div>
      </div>
      <div class="stockpage-sidebar-comment-box">
        <div class="stockpage-sidebar-comment-div">
          <textarea class="comment-form-textarea" placeholder="Comment on APPL"></textarea>
        </div>
        <div class="comment-submit-button-div">
          <a class="btn">SUBMIT</a>
        </div>
      </div>

    </div>











    <div class="stockpage-side-analysts-header black-gradient">
      <div class="user-sidebar-similar-header-txt">
        Top analysts for APPL
      </div>
    </div>
    <div class="stockpage-side-analysts-box">
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "del.jpg" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          delmnstr12
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          400
        </div>
      </a>
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "dyl.png" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          dyl$hmil
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          60k
        </div>
      </a>
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "elmer.png" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          fuddmnstr7
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          163
        </div>
      </a>
      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "sean.png" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          seanjuan
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          90k
        </div>
      </a>
    </div>
    
  </div>

</div>



    <!-- 
    
    
  </div>
</div>
    -->
  <%
   #  <div class = "stream" >
   #   <%= #render partial: "streams/stream_main", locals: {streams: @streams, nest_count: 0} 
   # </div>
   # <div id = "infinite-scrolling" >
   #   <%= #will_paginate @streams 
   # </div>
  %>

  



<% #
   #</div>
   #   render 'shared/follow_form'
  #</div>
#</div>

#
#<div class = "stock-page-prediction-box">
#   if @prediction.active_prediction_exists? 
#     render @prediction 
#   else 
#     render 'shared/prediction_form' 
#   end 
#</div>
#
#  <%= render 'shared/comment_form'

%>








