

<%= form_for(:user, url: users_path) do |f| %>
  <div class="constrainer">
    <p class="signup-title">What's your Stock IQ?</p>
    <p class="signup-subtitle">Find out how good you <i>really</i> are at predicting the market. Follow experts, compete with friends, and raise your Stock IQ.</p>
    <div class="signup-form-div">
      <div class="signup-form-header red-gradient">
        <div class="signup-form-header-txt">
          Sign Up
        </div>
      </div>
      <div class="signup-form-box">
        <p class="signup-signin-link">Already have and account? <%= link_to "Sign in here.", login_path %></p>
        <div class="signup-form-fields">


          <%= f.text_field :username, class: "signup-email-field", id: "signup-form-field", placeholder: "Username" %>

          <%= f.text_field :email, class: "signup-form-field", id: "signup-form-field", placeholder: "Email address" %>
          
          <%= f.password_field :password, class: "signup-email-field", id: "signup-form-field", placeholder: "Password" %>

          <%= f.password_field :password_confirmation, class: "signup-email-field", id: "signup-form-field", placeholder: "Confirm Password" %>

        </div>
        <div class="signup-submit-button-div">
          <%= f.submit "CREATE ACCOUNT", :class => "btn" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>
<br>
<br>



