

<section class="user-page-banner blue-blur">
</section>
<section class="user-page-banner-overlay">
  <div class="constrainer">
    <div class="col-sm-9">
      <ul class="pull-right">
        <li><span class="overlay-name"><%= "#{@user.username}"%></span>'s top stocks:</li>
        <li><%= link_to "TWTR", '/stocks/TWTR' %></li>
        <li><%= link_to "AMZN", '/stocks/AMZN' %></li>
        <li><%= link_to "FB", '/stocks/FB' %></li>
        <li><%= link_to "GOOG", '/stocks/GOOG' %></li>
        <li><%= link_to "AAPL", '/stocks/AAPL' %></li>
      </ul>
    </div>
  </div>
</section>

<div class="constrainer">
  <div class="col-xs-12 user-top-box">
    <div class="col-xs-4 user-top-box-img">
      <%= image_tag @user.image %>
      <div class="user-top-box-image-overlay clearfix">
        <p class="pull-left"><%= @user.username%></p>
        <div class="follow-btn-div pull-right">
          <%= render partial: 'shared/follow_form', locals: {target: @target} %>
        </div>
      </div>
    </div>
    <div class="col-xs-8 user-top-box-data">
      <div class="user-top-box-bio">
          <% if @user.bio.nil? %>
            No bio.
          <% else %>
            <%= @user.bio %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="col-xs-12 user-top-box-data">
      <div class="user-top-box-stats-box clearfix">
        <div class="user-top-stats-header">
          <div class="user-top-stats-header-txt pull-left">
            Stats
          </div>
          <div class="user-top-image-points pull-right">
            <i class="fa fa-trophy"></i>
          </div>
        </div>
        <div class="user-top-stats-item clearfix" href="#">
          <div class="user-top-stats-label pull-left">
            Points
          </div>
          <div class="user-top-stats-number pull-right">
            needed
          </div>
        </div>
        <div class="user-top-stats-item clearfix" href="#">
          <div class="user-top-stats-label pull-left">
            Following
          </div>
          <div class="user-top-stats-number pull-right">
            <%= @user.followings.count%>
          </div>
        </div>
        <div class="user-top-stats-item clearfix" href="#">
          <div class="user-top-stats-label pull-left">
            Followers
          </div>
          <div class="user-top-stats-number pull-right">
            <%= @user.followers.count %>
          </div>
        </div>
        <div class="user-top-stats-item clearfix" href="#">
          <div class="user-sidebar-stats-label pull-left">
            Predictions
          </div>
          <div class="user-top-stats-number pull-right">
            <%= @user.predictions.count %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-9 user-page-body">
    <div class = "stream" >
      <%= render partial: "streams/stream_main", locals: {streams: @streams, nest_count: 0} %>
    </div>
    <div id = "infinite-scrolling" >
      <%= will_paginate @streams %>
    </div>
  </div>

  <div class="col-sm-3 user-page-sidebar">
    <div class="user-sidebar-img-box">
      <div class="user-page-sidebar-image">
        <%= image_tag @user.image %>
      </div>
      <div class="user-page-sidebar-image-overlay">
        <div class="user-sidebar-image-username pull-left">
          <p><%= @user.username %></p>
        </div>
        <div class="follow-btn-div pull-right">
          <%= render partial: 'shared/follow_form', locals: {target: @target} %>
        </div>
      </div>
    
      <p class="user-sidebar-bio">
        <% if @user.bio.nil? %>
          No bio.
        <% else %>
          <%= @user.bio %>
        <% end %>
      </p>
    </div>

    <div class="user-sidebar-stats">
      <div class="user-sidebar-stats-box">
        <div class="user-sidebar-stats-header">
          <div class="user-stats-header-txt pull-left">
            Stats
          </div>
          <div class="user-sidebar-image-points pull-right">
            <i class="fa fa-trophy"></i>
          </div>
        </div>
        <div class="user-sidebar-stats-item clearfix" href="#">
          <div class="user-sidebar-stats-label pull-left">
            Points
          </div>
          <div class="user-sidebar-stats-number pull-right">
            <%= @user.total_score %>
          </div>
        </div>
        <div class="user-sidebar-stats-item clearfix" href="#">
          <div class="user-sidebar-stats-label pull-left">
            Following
          </div>
          <div class="user-sidebar-stats-number pull-right">
            <%= @user.followings.count %>
          </div>
        </div>
        <div class="user-sidebar-stats-item clearfix" href="#">
          <div class="user-sidebar-stats-label pull-left">
            Followers
          </div>
          <div class="user-sidebar-stats-number pull-right">
            <%= @user.followers.count %>
          </div>
        </div>
        <div class="user-sidebar-stats-item clearfix" href="#">
          <div class="user-sidebar-stats-label pull-left">
            Predictions
          </div>
          <div class="user-sidebar-stats-number pull-right">
            <%= @user.predictions.count %>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'shared/popular_stocks' %>

  </div>
</div>


