<h1>User Page for <%= @current_user.username %></h1>

This is the user page for <%= @current_user.username %>
<br />
<br />

<!-- DISPLAY USER INFO & POST FORM -->
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
			<section class="post_form">
				<%= render 'shared/stream_form' %>
			</section>
		</aside>
	</div>

<!-- DISPLAY ALL USER POSTS -->
<div class = "col-md-8">

	<% ##Does not display if user streams don't exist %>
	<% if @user.streams.any? %>

		<% ## Diplay Post Count %>
		<h3> Posts (<%= @user.streams.count %>)</h3>
		<ol class = "microposts">
		<% # Renders each post in @posts variable with streams view partial %>
			<% @posts.each do |post| %>
				<%= render post %>
			<% end %>
		</ol>

		<% ## Splits the posts in pages to prevent displaying too many posts %>
		
	<% end %>
</div>

