

<%= form_for(Reply.new, remote:true) do |f| %>
  <div class="stream-comment-input">
    <div class="stream-comments-img pull-left">
      <%= image_tag "sean.png" %>
    </div>
    <div class="stream-comments-txt pull-left">
      <%= f.text_field :content, placeholder: "Leave a reply..", id:"reply" %>
      <%= hidden_field_tag :stream_id, stream.id %>
      <%= f.submit "Reply", class: "btn btn-primary", style: "float:left; width:50px;" %>

    </div>
  </div>
<% end %>