

<div class="comment-only-item" id="stream_<%= stream.streamable.class.name %>_<%= stream.streamable.id %>">
  <div class="comment-only-vote-count-container clearfix">
    <div class="comment-only-item-body col-xs-11 clearfix">
      <div class="col-xs-2 comment-only-item-img">
        <%= link_to image_tag(stream.streamable.user.image), "/users/#{stream.streamable.user.username}/" %>
      </div>
      <div class="comment-only-item-txt">
        <%= link_to stream.streamable.user.username, "/users/#{stream.streamable.user.username}/", class: "comment-only-item-username" %>
        <p class="comment-only-item-main-txt">
          <%= stream.streamable.content %>
        </p>
      </div>
      <div class="prediction-footer">
        <i class="fa fa-clock-o">&nbsp;
          <%= distance_of_time_in_words(stream.streamable.created_at, Time.now) %> ago
        </i>
      </div>
    </div>
    
    <div class="comment-only-item-vote-count col-xs-1" id="likes-Comment-<%= stream.streamable.id %>">
      <%= render partial: "streams/stream_like", locals: {likable_type:stream.streamable.class.name, likable_id:stream.streamable.id} %>
    </div>
  </div>
  <div class="stream-item-comments" id="new-reply-container">
    <div class="stream-comment-header">
      <p><%= stream.streamable.replies.count %> Replies</p>
    </div>

    <!-- load partials for each reply -->
    <% stream.streamable.replies.each do |reply| %>
      <%= render partial: "streams/stream_reply", locals: {reply: reply}  %>
    <% end %>

    <!-- load this reply input everytime -->
    <%= render partial: "streams/stream_reply_form", locals: {repliable_type: stream.streamable.class.name, repliable_id: stream.streamable.id}  %>
    
  </div>
</div>
