

<%= form_for(Reply.new, remote:true) do |f| %>
  <div class="stream-comment-input">
    <div class="stream-comments-img pull-left">
      <%= image_tag current_user.image %>
    </div>
    <div class="stream-comments-txt pull-left">
      <%= f.text_field :content, placeholder: "Leave a reply and hit enter..", id:"reply" %>
      <%= hidden_field_tag :repliable_type, repliable_type %>
      <%= hidden_field_tag :repliable_id, repliable_id %>
      <%= f.submit "Reply", class: "btn btn-primary stream-reply-form-buton", style: "float:left; width:50px;" %>

    </div>
  </div>
<% end %>