
<div class="prediction-item" id="stream_<%= stream.id %>">
  
  <div class="vote-count-container clearfix">
    <div class="prediction-item-body col-xs-11 clearfix">
      <div class="col-xs-2 prediction-item-img">
        <%= image_tag "del.jpg" %>
      </div>
      <div class="prediction-item-txt">
        <p class="prediction-item-username"><%= stream.streamable.user.username %></p>
        <p class="prediction-item-main-txt"><span class="filler"><%= stream.streamable.stock.ticker_symbol %></span> will be +<%= stream.streamable.prediction_end_price %> <span class="filler">points</span> in 2 weeks</p> 
      </div>
      <div class="prediction-item-tweet">
        <p>Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
      </div>
      <div class="prediction-footer">
        <i class="fa fa-clock-o">&nbsp;2 hrs</i><span>+20 points</span>
      </div>
    </div>
    <div class="prediction-item-vote-count col-xs-1">
      <a class="vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
      <p>10</p>
      <a class="vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
    </div>
  </div>
  
  <div class="stream-item-comments">
    
    <!-- load this only if there are replies -->
    <div class="stream-comment-header">
      <p>2 Replies</p>
    </div>

    <!-- load partials for each reply -->
    <% stream.streamable.replies.each do |reply| %>
      <%= render partial: "streams/stream_reply", locals: {reply: reply}  %>
    <% end %>
    
    <!-- load this reply input everytime -->
    <%= render partial: "streams/stream_reply_form", locals: {stream: stream}  %>

  </div>
</div>
