
<div class="close-prediction-item" id="stream_<%= stream.streamable.class.name %>_<%= stream.streamable.id %>">
  <div class="close-prediction-vote-count-container clearfix">
    <div class="close-prediction-item-body col-xs-11 clearfix">
      <div class="col-xs-2 close-prediction-item-img">
        <a href="#"><%= image_tag stream.streamable.prediction.user.image %></a>
      </div>
      <div class="close-prediction-item-txt">
        <%= link_to stream.streamable.prediction.user.username, "/users/#{stream.streamable.prediction.user.username}/", class: "close-prediction-item-username" %>
        <p class="close-prediction-item-main-txt">
          <a href="/predictions/<%= stream.streamable.prediction.id %>/">
            $<%= stream.streamable.prediction.stock.ticker_symbol %> Prediction
          </a>
          Closed
        </p>
      </div>
      <div class="close-prediction-item-closing-tweet">
        <p>
          <%= stream.streamable.comment %>
        </p>
      </div>
      <div class="close-prediction-footer">
        <i class="fa fa-clock-o">&nbsp;<%= distance_of_time_in_words(stream.streamable.created_at, Time.now) %> ago</i><span><%= stream.streamable.prediction.score %> points</span>
      </div>
    </div>
    <div class="close-prediction-item-vote-count col-xs-1" id="likes-Predictionend-<%= stream.streamable.id %>">
      <%= render partial: "streams/stream_like", locals: {likable_type:stream.streamable.class.name, likable_id:stream.streamable.id} %>
    </div>
  </div>
  <div class="stream-item-comments" id="new-reply-container">
    <div class="stream-comment-header">
      <p><%= stream.streamable.replies.count %> replies</p>
    </div>

    <!-- load partials for each reply -->
    <% stream.streamable.replies.each do |reply| %>
      <%= render partial: "streams/stream_reply", locals: {reply: reply}  %>
    <% end %>

    <!-- load this reply input everytime -->
    <%= render partial: "streams/stream_reply_form", locals: {repliable_type: stream.streamable.class.name, repliable_id: stream.streamable.id}  %>
    
  </div>
</div>