
<div class="stream-comment-item">
  <div class="stream-comment-col col-xs-11">
    <div class="stream-comments-img pull-left">
      <a href="#"><%= image_tag reply.user.image %></a>
    </div>
    <div class="stream-comments-txt pull-left">
      <p>
        <a class="stream-comments-txt-username"><%= reply.user.username %></a>:&nbsp;<%= reply.content %>
      </p>
      <div class="stream-comments-txt-footer clearfix">
        <i class="fa fa-clock-o">&nbsp;<%= distance_of_time_in_words(reply.created_at, Time.now) %> ago</i>
      </div>
    </div>
  </div>

  <div class="stream-comment-vote-col col-xs-1" id="likes-Reply-<%= reply.id %>">
    <%= render partial: "streams/stream_like", locals: {likable_type:"Reply", likable_id:reply.id} %>
  </div>
</div>