
    <div class="news-item" id="stream_<%= stream.streamable.class.name %>_<%= stream.streamable.id %>">
      <div class="news-vote-count-container clearfix">
        <div class="news-item-body col-xs-11 clearfix">
          <div class="col-xs-2 news-item-img">
            <%= image_tag ("news-icon.png") %>
          </div>
          <div class="news-item-txt">
            <p class="news-item-username"><%= stream.streamable.source %></p>
            <p class="news-item-main-txt"><%= stream.streamable.summary %>&nbsp;&nbsp;<a href="<%= stream.streamable.url %>" target="_blank">..more&nbsp;&#8594;</a></p>
          </div>
          <div class="prediction-footer">
            <i class="fa fa-clock-o">&nbsp;<%= distance_of_time_in_words(stream.streamable.date, Time.now) %> ago</i>
          </div>
        </div>
        <div class="news-item-vote-count col-xs-1" id="likes-Newsarticle-<%= stream.streamable.id %>">
          <%= render partial: "streams/stream_like", locals: {likable_type:stream.streamable.class.name, likable_id:stream.streamable.id} %>
        </div>
      </div>
      <div class="stream-item-comments">
        <div class="stream-comment-header">
          <p><%= stream.streamable.replies.count %> replies</p>
        </div>

        <!-- load partials for each reply -->
        <% stream.streamable.replies.reorder('date asc').each do |reply| %>
          <%= render partial: "streams/stream_reply", locals: {reply: reply}  %>
        <% end %>

        <!-- load this reply input everytime -->
        <%= render partial: "streams/stream_reply_form", locals: {repliable_type: stream.streamable.class.name, repliable_id: stream.streamable.id}  %>
        
      </div>
    </div>




