<div class = "col-xs-3 col-sm-2 col-md-2">
  <div class = "prediction-post-mug-container">
    <img src= "http://stocktators.com/assets/images/user.png">
  </div>
</div>
<div class = "prediction-post-txt-container col-xs-9" style="width:400px;">

  <p class = "handle">
    <%= link_to prediction.user.username, "/users/#{prediction.user.username}/" %>&nbsp;&bull;&nbsp;<%= time_ago_in_words(prediction.created_at) %> ago
  </p>

  <p class = "prediction-txt">
  <p><b>prediction start</b></p>
    <p>score: <%= prediction.score %></p>
    <p>start price: <%= prediction.start_price %></p>
    <p>prediction end price: <%= prediction.prediction_end_price %></p>
    <p>start time: <%= prediction.start_time %></p>
    <p>prediction end time: <%= prediction.prediction_end_time %></p>
  </p>

  <p class = "comment-txt"><%= prediction.prediction_comment %></p>
</div>

