
<div class="close-prediction-item" id="stream_<%= stream.streamable.class.name %>_<%= stream.streamable.id %>">
  <div class="close-prediction-vote-count-container clearfix">
    <div class="close-prediction-item-body col-xs-11 clearfix">
      <div class="col-xs-2 close-prediction-item-img">
        <%= image_tag ("del.jpg") %>
      </div>
      <div class="close-prediction-item-txt">
        <p class="close-prediction-item-username">delmnstr12</p>
        <p class="close-prediction-item-main-txt"><span class="filler">Predicts</span> APPL will be +30 <span class="filler">points</span> in 2 weeks</p> 
      </div>
      <div class="close-prediction-item-closing-tweet">
        <p><span class="closing-tweet">Closing Comment:</span> Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
      </div>
      <div class="close-prediction-footer">
        <i class="fa fa-clock-o">&nbsp;<%= distance_of_time_in_words(stream.streamable.created_at, Time.now) %> ago</i><span>+20 points</span>
      </div>
      <div class="close-prediction-item-tweet">
        <p>Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
      </div>
    </div>
    <div class="close-prediction-item-vote-count col-xs-1" id="likes-Predictionend-<%= stream.streamable.id %>">
      <%= render partial: "streams/stream_like", locals: {likable_type:stream.streamable.class.name, likable_id:stream.streamable.id} %>
    </div>
  </div>
  <div class="stream-item-comments">
    <div class="stream-comment-header">
      <p><%= stream.streamable.replies.count %> replies</p>
    </div>

    <!-- load partials for each reply -->
    <% stream.streamable.replies.each do |reply| %>
      <%= render partial: "streams/stream_reply", locals: {reply: reply}  %>
    <% end %>

    <!-- load this reply input everytime -->
    <%= render partial: "streams/stream_reply_form", locals: {repliable_type: stream.streamable.class.name, repliable_id: stream.streamable.id}  %>
    
  </div>
</div>