
<div class="prediction-item" id="stream_<%= stream.streamable.class.name %>_<%= stream.streamable.id %>">
  
  <div class="vote-count-container clearfix">
    <div class="prediction-item-body col-xs-11 clearfix">
      <div class="col-xs-2 prediction-item-img">
        <%= image_tag "del.jpg" %>
      </div>
      <div class="prediction-item-txt">
        <p class="prediction-item-username"><%= stream.streamable.user.username %></p>
        <p class="prediction-item-main-txt"><span class="filler"><%= stream.streamable.stock.ticker_symbol %></span> will increase to $<%= stream.streamable.prediction_end_price %>  in 2 weeks</p> 
      </div>
      <div class="prediction-item-tweet">
        <p><%= stream.streamable.prediction_comment %></p>
      </div>
      <div class="prediction-footer">
        <i class="fa fa-clock-o">&nbsp;<%= distance_of_time_in_words(stream.streamable.created_at, Time.now) %> ago</i><span>+20 points</span>
      </div>
    </div>
    <div class="prediction-item-vote-count col-xs-1" id="likes-Prediction-<%= stream.streamable.id %>">
      <%= render partial: "streams/stream_like", locals: {likable_type:stream.streamable.class.name, likable_id:stream.streamable.id} %>
    </div>
  </div>
  
  <div class="stream-item-comments">
    
    <!-- load this only if there are replies -->
    <div class="stream-comment-header">
      <p><%= stream.streamable.replies.count %> Replies</p>
    </div>

    <!-- load partials for each reply -->
    <% stream.streamable.replies.each do |reply| %>
      <%= render partial: "streams/stream_reply", locals: {reply: reply}  %>
    <% end %>
    
    <!-- load this reply input everytime -->
    <%= render partial: "streams/stream_reply_form", locals: {repliable_type: stream.streamable.class.name, repliable_id: stream.streamable.id}  %>

  </div>
</div>
