<!-- Comment Form -->
<% if logged_in? %>
  <div class = "stock-page-comment-box">
    <p class = "stock-page-prediction-header">
      <%= @comment_header %>
    </p>

    <%= form_for(@comment, remote:true) do |f| %>

      <%= f.text_area :content, placeholder: "Enter comment", class: "stock-page-comment-field", id: "comment" %>
      <%= hidden_field_tag :stream_string, @comment_stream_inputs %>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>

  </div>
<% end %>	
