<%= form_for(@comment) do |f| %>

<% #Renders post form error messages using error_messages helper in app/views/shared/ %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class = "field">
		<%= f.text_area :content, placeholder: "Make a post...", class: "stock-page-comment-field" %>
		<%= hidden_field_tag :stream_array, @comment_stream_inputs %>
	</div>
	<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>