<!-- OPEN PREDICTION FORM BOX -->
  

  <div class="open-prediction-form-box" id="open-tabs">
    <ul class="open-prediction-form-box-tabs">
      <li><a id="open-prediction-comment-tab" href="#tabs-1"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;Comment on <%= @prediction.stock.ticker_symbol %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#124;</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="open-prediction-close-tab" href="#tabs-2"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;&nbsp;Close My Prediction</a></li>   
    </ul>

    <!-- Comment div goes here-->

    <%= form_for(Predictionend.new, remote:true) do |f| %>
      <div class="close-prediction-form-div" id="tabs-2">
        <div class="close-prediction-container clearfix">
          <div class="close-prediction-data">
            <p class="close-prediction-points"><%= @prediction.score %> Points</p>
            <% 
              tz = ActiveSupport::TimeZone.new('America/New_York') #set the time zone to EST.
              p_time = @prediction.prediction_end_time
              num = tz.parse(p_time.to_s)
            %>

            <p class="close-prediction-date">CLOSING ON <%= num.strftime("%b %e, %Y") %></p>
          </div>
        </div>
        <div class="close-prediction-comment-field clearfix">
          <%= text_area_tag 'content', nil, placeholder: "Make a closing comment", class: "close-comment-textarea" %>
        </div>
        <%= hidden_field_tag :input_page, @prediction_end_input_page %>
        <%= hidden_field_tag :prediction_id, prediction.id %>
        <div class="button-counter clearfix">
          <%= f.submit "CLOSE NOW", class: "btn pull-right" %>
          <div class="pull-right" id="openCharNum"></div>
        </div>
      </div>
    <% end %>

  </div>