

<body class="blue-blur-welcome">


<%= form_tag("/welcome", method: "post") do %>

	<div class="constrainer">

		<p class="welcome-title">Hi <%= current_user.username %>!</p>
		<p class="welcome-subtitle">Choose 3 stocks to follow and continue!</p> 


		<div class="welcome-stocks-div clearfix">

		<% stocks = ["TWTR", "FB", "GOOG", "SHAK", "AAPL", "AMZN", "GPRO", "EBAY", "YHOO", "LNKD", "MSFT", "BIDU"] %>
			<% stocks.each do |stock| %>
				<div class="welcome-col-sq blue-blur-tile">
					<label id="welcome-stockbox-sq" >
						<div class="check-div">
							<%= image_tag("awsm-check1.png", :id => "check-img") %>
						</div>
						<span>$<%= stock %></span>
						<%= check_box_tag stock, 'stock', false, class: "welcome-tick" %>
						<!--<input type="checkbox" class="welcome-tick">-->
		  		</label>
				</div>
			<% end %>
		</div>
	</div>

	<section class="welcome-next-box">
	  <div class="welcome-next-btn">
	  	<%= submit_tag "CONTINUE", class: "btn pull-right" %>
	  </div>
	</section>	

<% end %>
</body>