

<body class="blue-blur-welcome">

<div class="constrainer">

	<p class="welcome-title">Welcome <%= current_user.username %></p>
	<p class="welcome-subtitle">Here are some of the most popular stocks right now on StockIQ (follow three and continue):</p>


	<div class="welcome-stocks-div">

		<div class="welcome-col col-xs-4">

			<label id="welcome-stockbox" class="blue-blur-tile">
				<div class="check-div-off" id="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" id="welcome-tick">
  		</label>

		</div>

		<div class="welcome-col col-xs-4">
			<label id="welcome-stock-box" class="blue-blur-tile">
				<div id="welcome-check-box">
  				<span>$TWTR</span>
  			</div>
  		</label>
		</div>

		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/TWTR", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$TWTR</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/SHAK", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$SHAK</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/AAPL", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$AAPL</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/TSLA", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$TSLA</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/AMZN", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$AMZN</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/GOOG", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$GOOG</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/BABA", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$BABA</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/GPRO", class: "welcome-stock-box blue-blur-tile" do %>
  		<span>$GPRO</span>
  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/FB", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$FB</span>
	  	<%end%>
  	</div>

	</div>

</div>


<body>