

<body class="blue-blur-welcome">

<form>

<div class="constrainer">

	<p class="welcome-title">Welcome <%= current_user.username %></p>
	<p class="welcome-subtitle">Here are some of the most popular stocks right now on StockIQ (follow three and continue):</p>


	<div class="welcome-stocks-div clearfix">

		<div class="welcome-col-sq blue-blur-tile">
			<label id="welcome-stockbox-sq" >
				<div class="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" class="welcome-tick">
  		</label>
		</div>

		<div class="welcome-col-sq blue-blur-tile">
			<label id="welcome-stockbox-sq" >
				<div class="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" class="welcome-tick">
  		</label>
		</div>

		<div class="welcome-col-sq blue-blur-tile">
			<label id="welcome-stockbox-sq" >
				<div class="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" class="welcome-tick">
  		</label>
		</div>

		<div class="welcome-col-sq blue-blur-tile">
			<label id="welcome-stockbox-sq" >
				<div class="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" class="welcome-tick">
  		</label>
		</div>

		<div class="welcome-col-sq blue-blur-tile">
			<label id="welcome-stockbox-sq" >
				<div class="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" class="welcome-tick">
  		</label>
		</div>

		<div class="welcome-col-sq blue-blur-tile">
			<label id="welcome-stockbox-sq" >
				<div class="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" class="welcome-tick">
  		</label>
		</div>

		<div class="welcome-col-sq blue-blur-tile">
			<label id="welcome-stockbox-sq" >
				<div class="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" class="welcome-tick">
  		</label>
		</div>

		<div class="welcome-col-sq blue-blur-tile">
			<label id="welcome-stockbox-sq" >
				<div class="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" class="welcome-tick">
  		</label>
		</div>

		<div class="welcome-col-sq blue-blur-tile">
			<label id="welcome-stockbox-sq" >
				<div class="check-div">
					<%= image_tag("awsm-check1.png", :id => "check-img") %>
				</div>
				<span>$TWTR</span>
				<input type="checkbox" class="welcome-tick">
  		</label>
		</div>

	</div>
</div>

<section class="welcome-next-box">


  <div class="welcome-next-btn">
    <input class="btn pull-right" value="SUBMIT">
  </div>

</section>	

</form>

<body>