

<div class="constrainer">

	<p class="welcome-title">Welcome <%= current_user.username %></p>
	<p class="welcome-subtitle">Here are some of the most popular stocks being predicted and discussed right now on StockIQ:</p>
	<div class="welcome-stocks-div">
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/TWTR", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$TWTR</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/SHAK", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$SHAK</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/AAPL", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$AAPL</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/TSLA", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$TSLA</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/AMZN", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$AMZN</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/GOOG", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$GOOG</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/EBAY", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$EBAY</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/PRO", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$PRO</span>
	  	<%end%>
  	</div>
		<div class="welcome-col col-xs-4">
		<%= link_to "/stocks/FB", class: "welcome-stock-box blue-blur-tile" do %>
	  		<span>$FB</span>
	  	<%end%>
  	</div>
	</div>

</div>