<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @stock_array[:inserted].count %> Completed Stock Inputs </h3>
    <table>
      <% @stock_array[:inserted].each_with_index do |stock, index| %>
          <tr><td><%= index %></td><td> <%= stock[:ticker_symbol] %></td><td><%= stock[:stock] %></td></tr>
        <% end %>
    </table>

    <h3><%= @stock_array[:inserted].count %> Failed Stock Inputs </h3>
    <table>
      <% @stock_array[:failed].each_with_index do |stock, index| %>
        <tr><td><%= index %></td><td> <%= stock[:ticker_symbol] %></td><td><%= stock[:stock] %></td></tr>
      <% end %>
    </table>
  </body>
</html>

