

<section class="settings-page-banner blue-blur">
</section>
<section class="settings-page-banner-overlay">
	<div class="constrainer">
		<div class="change-banner-div">
			<a class="btn">Change Banner</a>
		</div>
	</div>
</section>

<div class="constrainer">

	<div class="col-xs-12 settings-top-box">
		<div class="col-xs-4 settings-top-box-img">
      <%= image_tag current_user.image %>
			<div class="settings-top-box-overlay">
				<p><%= current_user.username %></p>
				<!-- <a class="btn">Change Image</a> -->
			</div>
		</div>

		<div class="col-xs-8 settings-top-box-form">
			<div class="settings-top-box-bio">
				<p class="settings-top-box-bio-header">Bio</p>
				<p class="settings-top-box-bio-txt">
					<%= current_user.bio %></p>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-9 settings-page-body">

    <%= form_tag url_for(controller:"/user_settings", action:"update"), :multipart => true do %>

  		<div class="settings-form-div clearfix">

  			<p class="update-profile-header">Update Profile</p>
        <div class="settings-update-form-fields">
          <!-- <input class="update-first-field pull-left" placeholder="Dana">
          <input class="update-last-field pull-right" placeholder="Wright">
          <input class="update-username-field" id="signup-form-field" placeholder="dmnstr12"> -->
          <%= text_field_tag :email, current_user.email, placeholder:"Email address", id: "signup-form-field" %>
          <%= text_field_tag :bio, current_user.bio, placeholder:"Bio", id: "signup-form-field" %>
        

        <div class="img-upload-div clearfix">
          <p class="signup-signin-link">Select a profile image:</p>

          <div class="btn-custom btn-file pull-left">
            Browse <%= file_field_tag :image, class: "custom-file-input" %>
          </div>
          <div id="signup-label" class="pull-left"></div>
        </div>

 			</div>

        <p class="settings-update-privacy">StockIQ will never share your information with third parties. See our <a href="#">Privacy Policy</a> for further details.</p>

        <!-- <p class="settings-notifications-header">Notifications</p>
        <div class="row">
          <div class="settings-notification-question pull-left">
            Receive email alerts from StockIQ
          </div>
          <div class="switch pull-right">
            <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-4"></label>
          </div>
        </div> -->

        <div class="save-changes-button-div">
          <%= submit_tag("SAVE CHANGES") %>
        </div>

  		</div>
    <% end %>

  </div>


	<div class="col-sm-3 settings-page-sidebar">
		<div class="settings-page-sidebar-image">
      <%= image_tag current_user.image_url.to_s %>
		</div>
		<div class="settings-page-sidebar-image-overlay">
			<p><%= current_user.username %></p>
			<div class="settings-sidebar-change-img pull-right">
				<!-- <a class="btn">Change Image</a> -->
			</div>
		</div>
		<div class="settings-sidebar-bio">
			<p class="settings-sidebar-bio-header">Bio</p>
			<p class="settings-sidebar-bio-txt"><%= current_user.bio %></p>
		</div>


	</div>
</div>


