<div class="prediction-name">

	<div class="prediction-name-center clearfix">
		
		<%= link_to "/predictions/#{prediction.id}/" do %>
		<div class="prediction-name-items pull-left">
	  	<%= image_tag prediction.user.image %>
	  	<span class="prediction-name-title"><span class="prediction-name-title-name"><%= prediction.user.username %></span> Prediction</span>
	  </div>
	  <% end %>
		<div class="prediction-name-vote-count pull-left" id ="likes-Prediction-<%= prediction.id %>">
			 <%= render partial: "streams/stream_like", locals: {likable_type:prediction.class.name, likable_id:prediction.id} %>
		</div>
	</div>

</div>