<div class="prediction-name">

	<div class="prediction-name-center clearfix">
				
		<div class="prediction-name-items pull-left">	
			<%= link_to "/predictions/#{prediction.id}/" do %>
		  	<%= image_tag prediction.user.image %>
		  <% end %>
	  	<span class="prediction-name-title">
	  		<%= link_to "/predictions/#{prediction.id}/" do %>
		  		<span class="prediction-name-title-name">
		  			<%= prediction.user.username %>
		  		</span> Prediction
		  	<% end %>
		  </span>	
	  </div>

		<div class="prediction-name-vote-count pull-left" id ="likes-Prediction-<%= prediction.id %>">
			 <%= render partial: "streams/stream_like", locals: {likable_type:prediction.class.name, likable_id:prediction.id} %>
		</div>
	</div>

</div>