<div class="prediction-detail-header">
		
	<div class="prediction-name-items clearfix">	

		<%= link_to "/predictions/#{prediction.id}/" do %>
	  	<%= image_tag prediction.user.image %>
	  <% end %>
  	

    <!-- display if user viewing other user's prediction -->

	  <div class="prediction-details-name-follow">
	  	<div class="prediction-name-title">
	  		<%= link_to "/predictions/#{prediction.id}/" do %>
		  		<span class="prediction-name-title-name">
		  			<%= prediction.user.username %>
		  		</span>
		  	<% end %>
		  </div>	

		  	<%= render partial: 'shared/follow_form', locals: {target: prediction.user} %>


		</div>

    <!-- display if user viewing own prediction -->

	  <div class="prediction-my-name-follow">
	  	<div class="prediction-my-name-title">
	  		<%= link_to "/predictions/#{prediction.id}/" do %>
		  		<span class="prediction-name-title-name">
		  			<%= prediction.user.username %>
		  		</span>
		  	<% end %>
		  </div>	
		</div>

	  </div>

</div>