<div class="stream-comment-item" id="stream-reply-13">
  <div class="stream-comment-col col-xs-11">
    <div class="stream-comments-img pull-left">
      <img src="{{user.image}}" />
    </div>
    <div class="stream-comments-txt pull-left">
      <p>
        <a href="users/{{user.username}}" class="stream-comments-txt-username">{{user.username}}</a>
        {{content}}
      </p>
      <div class="stream-comments-txt-footer clearfix">
        <i class="fa fa-clock-o">&nbsp;{{time_ago}} ago</i>
      </div>
    </div>
  </div>
</div>