
<h1>Stock Prices Creation</h1>
<br />

<h3><%= @prices_array.count %> Completed Price Inputs </h3>
<table>
  <% @prices_array.each_with_index do |price, index| 
    if price != nil %>
      <tr>
        <td><%= index %></td>
        <td><%= price[:ticker_symbol] %></td>
        <td><%= price[:date] %></td>
        <td><%= price[:open_price] %></td>
        <td><%= price[:close_price] %></td>
        <td><%= price[:volume] %></td>
        <td><%= price[:split] %></td>
      </tr>
    <% end
    end %>
</table>

