
<% predictionend = prediction.build_predictionend %>
<%= form_for(@predictionend, remote:true) do |f| %>
  <div class="sidebar-open-close-comment-div">
   <%= f.text_area :comment, placeholder: "Make a closing comment", class: "close-comment-textarea" %>
  </div> 

  <%= hidden_field_tag :input_page, @prediction_end_input_page %>
  <%= hidden_field_tag :prediction_id, prediction.id %>
  
  <div class="sidebar-close-button">
    <%= f.submit "SUBMIT", class: "btn" %>
  </div>
<% end %>



