<div class="stock-page-prediction-box" style="font-size:12px;">
    <div class="row" style="margin-left: 20px;">

      <p>score:<%= predictionend.prediction.score %></p>
      <p>start time: <%= predictionend.prediction.start_time %></p>
      <p>end time: <%= predictionend.prediction.prediction_end_time %></p>
      <p>start price: <%= predictionend.prediction.start_price %></p>
      <p>end price: <%= predictionend.prediction.prediction_end_price %></p>
      <p>actual endtime: <%= predictionend.actual_end_time %></p>
      <p>actual endprice: <%= predictionend.actual_end_price %></p>

    </div>
  </div>