<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @predictionend.prediction.stock.ticker_symbol %> Prediction Complete</h3>
    <div>Prediction start price: <%= @predictionend.prediction.start_price %></div>
    <div>Prediction start date: <%= @predictionend.prediction.start_time %></div>
    <div>Prediction end date: <%= @predictionend.prediction.prediction_end_time %></div>
    <div>Prediction end price: <%= @predictionend.prediction.prediction_end_price %></div>
    <div>Prediction actual end date: <%= @predictionend.actual_end_time %></div>
    <div>Prediction actual end price: <%= @predictionend.actual_end_price %></div>
    <div>Prediction start date: <%= @predictionend.prediction.start_time %></div>
    <div><b>Prediction Final Score</b> <%= @predictionend.prediction.score %></div>
  </body>
</html>

