
<style>
.ui-helper-hidden-accessible {
  display:none;
}
</style>


<section class="nav-singed-in">
  <div class="nav-constrainer">
    <div class="nav-logo pull-left">
      StockIQ
    </div>
      <a class="nav-mobile-search-anchor pull-left" id="drop-search-expand">
        <i class="fa fa-search"></i>
      </a>
    <div class="nav-mobile-button pull-right">
      <a class="nav-mobile-button-anchor" id="drop-nav-expand">
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
    <div class="nav-items">
      <div class="nav-items-icons pull-right">
        <%= link_to "/settings/", class: "nav-settings pull-right" do %>
          <i class="fa fa-cog"></i>
        <% end %>
        <!--
        <a class="nav-heart pull-right">
          <i class="fa fa-heart"></i>
        </a>
        <a class="nav-search pull-right">
          <i class="fa fa-search"></i>
        </a>
        <a class="nav-predict pull-right">
          <i class="fa fa-line-chart"></i>
        </a>
        -->
      </div>
      <div class="nav-items-logout pull-right">
        <%= link_to "Logout", logout_path %>
      </div>
      <div class="nav-items-user pull-right">
        <%= link_to "/users/#{current_user.username}/" do %>
          <%= image_tag current_user.image %>
          <p><%= current_user.username %></p>
        <% end %>
      </div>
      <div class="nav-items-feed pull-right">
        <%= link_to "Feed", feed_path, id: "feed" %>
      </div>    

      <div class="nav-items-search icon-addon addon-md" id="autocomplete">
        <input type='text' name='search' class="form-control search-field" id='dropdown' placeholder="Search a ticker"/>
        <label for="dropdown" class="glyphicon glyphicon-search" rel="tooltip"></label>
      </div>

    </div>
  </div>
</section>

<section id="search-dropdown">
  <div class="constrainer">
    <div class="mobile-search" id="mobile-autocomplete">
      <input type='text' name='search' class="search-field" id='mobile-dropdown' placeholder="Search a ticker"/>
    </div>
  </div>
</section>

<section id="nav-dropdown">
  <div class="constrainer">
    <%= link_to "/feed/", {class: "nav-dropdown-item clearfix"} do %>
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-list"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Feed</p>
      </div>
    <% end %>
    <%= link_to "/users/#{current_user.username}/", {class: "nav-dropdown-item clearfix"} do %>
      <div class="nav-dropdown-img pull-left">
        <%= image_tag current_user.image %>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p><%= current_user.username %></p>   
      </div>
    <% end %>
    <!-- <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-line-chart"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Predict</p>
      </div>
    </a>
    <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-search"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Search</p>
      </div>
    </a>
    <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-heart"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Favorites</p>
      </div>
    </a>
    -->
    <%= link_to "/settings/", class: "nav-dropdown-item clearfix" do %>
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-cog"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Settings</p>
      </div>
    <% end %>
    <%= link_to "/logout/", {class: "nav-dropdown-item nav-dropdown-item-last clearfix"} do %>
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-sign-out"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Log Out</p>
      </div>
    <% end %>
  </div>
</section>





