
<script>
  $(function() {
    $("#username").autocomplete({
      delay: 500,
      minLength:2,
      source: function(request, response) {
        $.getJSON("/stocks/"+request.term+".json",
        function(data) {
          var array = data.ticker_symbols.map(function(m) {
            return {
              label: m,
              url: "/stocks/" + m + "/"
            }
          });
          response(array);
        });
      },
      focus: function(event, ui) {
        // prevent autocomplete from updating the textbox
        event.preventDefault();
      },
      select: function(event, ui) {
        // prevent autocomplete from updating the textbox
        event.preventDefault();
        // navigate to the selected item's url
        window.open(ui.item.url);
      }
    });

    $(".ui-autocomplete").insertAfter($('.autocomplete3'));


  });
</script>


<section class="nav-singed-in">
  <div class="nav-constrainer">
    <div class="nav-logo pull-left">
      StockIQ
    </div>
    <div class="nav-mobile-button pull-right">
      <a class="nav-mobile-button-anchor" id="drop-nav-expand">
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
    <div class="nav-items">
      <div class="nav-items-icons pull-right">
        <%= link_to "/settings/", class: "nav-settings pull-right" do %>
          <i class="fa fa-cog"></i>
        <% end %>
        <li class="autocomplete3"><input type='text' name='search' class="search-field" id='username' placeholder="Search"/></li>
        <!--
        <a class="nav-heart pull-right">
          <i class="fa fa-heart"></i>
        </a>
        <a class="nav-search pull-right">
          <i class="fa fa-search"></i>
        </a>
        <a class="nav-predict pull-right">
          <i class="fa fa-line-chart"></i>
        </a>
        -->
      </div>
      <div class="nav-items-user pull-right">
        <%= link_to "/users/#{current_user.username}/" do %>
          <%= image_tag current_user.image %>
          <p><%= current_user.username %></p>
        <% end %>
      </div>
      <div class="nav-items-feed pull-right">
        <%= link_to "Feed", feed_path, id: "feed" %>
      </div>
    </div>
  </div>
</section>

<section id="nav-dropdown">
  <div class="constrainer">
    <%= link_to "/feed/", {class: "nav-dropdown-item clearfix"} do %>
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-list"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Feed</p>
      </div>
    <% end %>
    <%= link_to "/users/#{current_user.username}/", {class: "nav-dropdown-item clearfix"} do %>
      <div class="nav-dropdown-img pull-left">
        <%= image_tag current_user.image %>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p><%= current_user.username %></p>   
      </div>
    <% end %>
    <!-- <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-line-chart"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Predict</p>
      </div>
    </a>
    <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-search"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Search</p>
      </div>
    </a>
    <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-heart"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Favorites</p>
      </div>
    </a>
    -->
    <%= link_to "/settings/", class: "nav-dropdown-item nav-dropdown-item-last clearfix" do %>
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-cog"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Settings</p>
      </div>
    <% end %>
  </div>
</section>


<!-- 
    <div class = "nav-custom collapse navbar-collapse navHeaderCollapse">
      <ul class = "nav navbar-nav navbar-right">
      <li><>Logout</a></li>
      
        <li><a href = "/stocks/AAPL/">AAPL</a></li>
        <li><a href = "/feed/">My Feed</a></li>



        
        <li>
          <div class = "prediction-btn-container">
            <a href ="#" class="btn nav-prediction-btn" data-toggle="modal" data-target="#basicModal">Make a Prediction</a>
          </div>
        </li>
        <li class="dropdown">
          <a href = "#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog fa-lg"></i><span>Settings</span>

            <ul class ="dropdown-menu">
              <li><a href = "#">placeholder</a></li>
              <li><a href = "#">placeholder</a></li>
              <li><a href = "#">Manage My Account</a></li>
              <li><a href = "#">Setings</a></li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
 -->




