<!DOCTYPE html>
<html>

  <head>
    <%= yield :title %>

    <!-- these call the minified JS and CSS files created by rails -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='/favicon.ico' rel='shortcut icon' />
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

    <!-- this is standard notation for implementing bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  
  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
