<!DOCTYPE html>
<html>

  <head>
    <%= yield :title %>

    <!-- allows ruby vars to be passed directly to js -->
    <%= include_gon %>
    <!-- these call the minified JS and CSS files created by rails -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>

    <link href='/favicon.ico' rel='shortcut icon' />

    <!-- this is standard notation for implementing bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  
  <body>
    <%= render "layouts/header" unless @disable_nav %>
    <%= yield %>

  </body>
</html>
